<!-- begin pagination -->
<div class="pagination">
	<ul class="pagination__list">
		<li class="pagination__item">
			<a class="pagination__link" href="#">
				<i class="fal fa-angle-left pagination__icon"></i>
			</a>
		</li>
		<li class="pagination__item">
			<a class="pagination__link" href="#">1</a>
		</li>
		<li class="pagination__item is-active">
			<a class="pagination__link" href="#">2</a>
		</li>
		<li class="pagination__item">
			<a class="pagination__link" href="#">3</a>
		</li>
		<li class="pagination__item">
			<a class="pagination__link" href="#">
				<i class="fal fa-angle-right pagination__icon"></i>
			</a>
		</li>
	</ul>
</div><!-- end pagination -->
