<!-- begin preview -->
<div class="modal fade preview" id="preview">
	<div class="modal-dialog modal-dialog--lg">
		<div class="modal-content">
			<div class="modal-body">
				<button
					class="close modal__btn modal__btn--close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>

				<div class="preview__wrap">
					<div class="preview__arrow preview__arrow--prev"></div>
					<div class="preview__arrow preview__arrow--next"></div>

					{% include "partials/_card-product.html" %}

					{% include "partials/_card-related.html" %}

					<!-- begin card__colors -->
					<div class="card__colors">

						<h2 class="h2 page-title">Другие цвета</h2>

						<div class="product-item__wrap">
							{% for i in range(0, 4) %} {% include "partials/product/_product-color.html" %} {% endfor %}
						</div>

					</div><!-- end card__colors -->

					<a class="button button--default" href="#">Подробнее</a>
				</div>

			</div>
		</div>
	</div>
</div><!-- end preview -->
