<!-- begin preview -->
<div class="modal fade preview" id="preview">
	<div class="modal-dialog modal-dialog--lg">
		<div class="modal-content">
			<div class="modal-body">
				<button
					class="close modal__btn modal__btn--close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>

				<div class="preview__wrap">
					<div class="preview__arrow preview__arrow--prev"></div>
					<div class="preview__arrow preview__arrow--next"></div>

					<!-- begin card__wrap -->
					<div class="card__wrap" itemscope itemtype="http://schema.org/Product">
						<!-- begin card__image -->
						<div class="card__image">
							<div class="bz-slider bz-slider--card card__slider">
								<div class="bz-slider__slides js-bz-slider--card">
									{% for i in range(0, 4) %}
									<div itemscope itemtype="https://schema.org/ImageObject">
										<img src alt="Косая бейка Серый нейтральный" itemprop="url contentUrl">
										<meta itemprop="name" content="здесь полное описание вплоть до артикула">
									</div>
									{% endfor %}
								</div>
								<div class="card__slider--nav js-bz-slider--card-nav">
									{% for i in range(0, 4) %}
									<div>
										<img src="img/products/atlas/small/{{i+1}}.png" alt="alt">
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<!-- end card__image -->

						<!-- begin card__desc -->
						<div class="card__desc">
							<h1 class="h1 product-item__title card__title" itemprop="name">Атлас дюпон
								<span>white</span>
							</h1>

							<div class="card__price">340,00
								<span>руб/м</span>
								<small>-15%</small>
							</div>

							<!-- begin item-select -->
							<div class="item-select__group card__item-select">
								<div class="item-select item-select--color js-item-select">
									<div class="item-select__caption">Цвет</div>
									<div class="item-select__value">
										<span class="item-select__color" data-item-select-color="#233e23"></span>
										<span class="item-select__title">Темно зеленый</span>
									</div>
									<div class="item-select__list">
										<div class="item-select__item js-item-select-item">
											<span class="item-select__color" data-item-select-color="#233e23"></span>
											<span class="item-select__title">Темно зеленый</span>
											<span class="item-select__subtitle stock">в наличии</span>
										</div>
										<div class="item-select__item js-item-select-item">
											<span class="item-select__color" data-item-select-color="#46358d"></span>
											<span class="item-select__title">Темно синий</span>
											<span class="item-select__subtitle ends">заканчивается</span>
										</div>
										<div class="item-select__item js-item-select-item">
											<span class="item-select__color" data-item-select-color="#e4d8cb"></span>
											<span class="item-select__title">Бежевый</span>
											<span class="item-select__subtitle stock">в наличии</span>
										</div>
									</div>
								</div>
								<div class="item-select item-select--count js-item-select">
									<div class="item-select__caption">Количество</div>
									<div class="item-select__value">
										<div class="item-select__control item-select__control--minus js-item-select-control--minus"></div>
										<span class="item-select__title">Выбрать</span>
										<input class="item-select__input" type="text" style="display: none;" spellcheck="false">
										<div class="item-select__control item-select__control--plus js-item-select-control--plus"></div>
									</div>
									<div class="item-select__list">
										<div class="item-select__item item-select__item--header js-item-select-item">
											<span class="item-select__title">Купить от:</span>
											<span class="item-select__subtitle">Цена за метр:</span>
										</div>
										<div class="item-select__item js-item-select-item">
											<span class="item-select__title">1 м</span>
											<span class="item-select__subtitle">340,00 руб.</span>
										</div>
										<div class="item-select__item js-item-select-item">
											<div class="item-select__title_wrap">
												<span class="item-select__title">15 м </span>
												<span class="item-select__title_desc">(рулон)</span>
											</div>
											<span class="item-select__subtitle">4 335,00 руб.
												<span>-15%</span>
											</span>
										</div>
										<div class="item-select__item js-item-select-item">
											<div class="item-select__title_wrap">
												<span class="item-select__title">150 м</span>
												<span class="item-select__title_desc">(10 рулонов)</span>
											</div>
											<span class="item-select__subtitle">38 250,00 руб.
												<span>-25%</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<!-- end item-select -->

							<div class="button-box">
								<div class="button-box__in">
									<button class="button button--yellow card__btn card__btn--cart" onclick="pushUp();">
										Добавить в корзину
										<span></span>
										<span title="убрать из корзины"></span>
									</button>

									<div tooltip="в избранное">
										<button class="button-icon button-icon--fav js-button-icon--fav card__btn card__btn--fav"></button>
									</div>
								</div>

								<span class="card__order-info">В корзине
									<span>5</span> метров —
									<span>1694,90 </span>руб.</span>
							</div>

							<!-- begin card__info -->
							<div class="card__info">

								<div class="tab tab--transform js-tab--transform">
									<div class="tab__wrap">
										<div class="tab__titles js-tab-modal">
											<div class="tab__title is-active" data-tab="0">Характеристики</div>
											<div class="tab__title" data-tab="1">Описание</div>
										</div>
										<div class="tab__contentes">
											<div class="tab__content" data-tab-content="0" style="display: block;">

												<div class="bz-table bz-table--dot">
													<ul class="bz-table__list">
														{% import "data/data.html" as productDesc %} {% for item in productDesc.productDesc %}
														<li class="bz-table__item">
															<span class="bz-table__subitem">
																<span>{{ item.title }}</span>
															</span>
															<a class="bz-table__subitem" href="#">{{ item.desc }}</a>
														</li>
														{% endfor %}
													</ul>
												</div>

											</div>

											<div class="tab__content" data-tab-content="1">

												<p>Плотная ткань с гладкокрашенной отделкой. Лицевая сторона гладкая, с мягким атласным блеском. Изнаночная - матовая,
													с зернистой поверхностью. Материал прочный, эластичный, хорошо драпирующийся. Атлас широко применяется для изготовления
													праздничных и концертных нарядов, свадебных платьев.</p>

											</div>
										</div>
									</div>
								</div>

							</div>
							<!-- end card__info -->

						</div>
						<!-- end card__desc -->
					</div>
					<!-- end card__wrap -->

					<!-- begin card__related -->
					<div class="card__related related">

						<h2 class="h2 page-title">Сопутствующие товары</h2>

						<div class="tab js-card-tab-related--modal">
							<ul class="tab__titles">
								<li class="tab__title js-related-tab">
									<a class="tab__link" href="#related-tabs-1">
										<span class="tab__icon_wrap">
											{{ mixin.icon('cloth', 'tab__icon') }}
										</span>
										<span class="tab__text">Ткани</span>
									</a>
								</li>
								<li class="tab__title js-related-tab">
									<a class="tab__link" href="#related-tabs-2">
										<span class="tab__icon_wrap">
											<img class="tab__icon" src="img/general/thread.svg" alt="Нитки">
										</span>
										<span class="tab__text">Нитки</span>
									</a>
								</li>
								<li class="tab__title js-related-tab">
									<a class="tab__link" href="#related-tabs-3">
										<span class="tab__icon_wrap">{{mixin.icon('button', 'tab__icon')}}</span>
										<span class="tab__text">Пуговицы <br>и кнопки</span>
									</a>
								</li>
								<li class="tab__title js-related-tab">
									<a class="tab__link" href="#related-tabs-4">
										<span class="tab__icon_wrap">{{mixin.icon('zipper', 'tab__icon')}}</span>
										<span class="tab__text">Молнии</span>
									</a>
								</li>
								<li class="tab__title js-related-tab">
									<a class="tab__link" href="#related-tabs-5">
										<span class="tab__icon_wrap">
											<img class="tab__icon" src="img/general/elastic.svg" alt="Резинки">
										</span>
										<span class="tab__text">Резинки</span>
									</a>
								</li>
								<li class="tab__title js-related-tab">
									<a class="tab__link" href="#related-tabs-6">
										<span class="tab__icon_wrap">{{mixin.icon('tapes', 'tab__icon')}}</span>
										<span class="tab__text">Ленты <br> отделочные</span>
									</a>
								</li>
							</ul>
							<div class="tab__contentes">
								<div id="related-tabs-1">

									<div class="bz-slider bz-slider--related">
										<div class="bz-slider__slides js-bz-slider--related-modal">
											{% for i in range(0, 5) %}
											<a class="related__item" href="#">
												<div class="related__img">
													<img src="http://via.placeholder.com/150x150" alt="Атлас дюпон «izumrud»">
												</div>
												<div class="related__desc">
													<span class="related__title">Нитки <span>dor tak 40/2</span></span>
													<span class="related__price">12,80 руб</span>
												</div>
											</a>
											{% endfor %}
										</div>
									</div>

								</div>
								<div id="related-tabs-2">

									<div class="bz-slider bz-slider--related">
										<div class="bz-slider__slides js-bz-slider--related-modal">
											{% for i in range(0, 11) %}
											<a class="related__item" href="#">
												<div class="related__img">
													<img src="img/products/thread/{{i+1}}.png" alt="Атлас дюпон «izumrud»">
												</div>
												<div class="related__desc">
													<span class="related__title">Нитки <span>dor tak 40/2</span></span>
													<span class="related__price">12,80 руб</span>
												</div>
											</a>
											{% endfor %}
										</div>
									</div>

								</div>
								<div id="related-tabs-3">

									<div class="bz-slider bz-slider--related">
										<div class="bz-slider__slides js-bz-slider--related-modal">
											{% for i in range(0, 11) %}
											<a class="related__item" href="#">
												<div class="related__img">
													<img src="img/products/thread/{{i+1}}.png" alt="Атлас дюпон «izumrud»">
												</div>
												<div class="related__desc">
													<span class="related__title">Нитки <span>dor tak 40/2</span></span>
													<span class="related__price">12,80 руб</span>
												</div>
											</a>
											{% endfor %}
										</div>
									</div>

								</div>
							</div>
						</div>

					</div><!-- end card__related -->

					<!-- begin card__colors -->
					<div class="card__colors">

						<h2 class="h2 page-title">Другие цвета</h2>

						<div class="product-item__wrap">
							{% for i in range(0, 4) %} {% include "partials/product/_product-color.html" %} {% endfor %}
						</div>

					</div><!-- end card__colors -->

					<a class="button button--default" href="#">Подробнее</a>
				</div>

			</div>
		</div>
	</div>
</div><!-- end preview -->
