<!-- begin product-item--small -->
<a
	class="product-item product-item--small"
	href="#"
	itemscope
	itemtype="http://schema.org/Product"
>
	<div class="product-item__img">
		<img
			class="swiper-lazy"
			data-src="img/products/BlusenstoffMillefleurs/128x128/3.jpg"
			src="img/general/loading.gif"
			alt="Blusenstoff Millefleurs"
			itemprop="image"
		>
	</div>
	<div class="product-item__desc">
		<h5
			class="h5 product-item__title"
			itemprop="name"
		>
			Blusenstoff Millefleurs
		</h5>
		<div
			class="product-item__price"
			itemprop="offers"
			itemscope
			itemtype="http://schema.org/Offer"
		>
			<meta itemprop="price" content="300.00">
			<meta itemprop="priceCurrency" content="RUB"> 300
			<i class="rub">Руб/м</i>
		</div>
	</div>
</a>
<!-- end product-item--small -->
