<!-- begin product-item -->
<a href="#" class="product-item js-product-item" itemscope itemtype="http://schema.org/Product">

	<div class="badge__wrap product-item__badge">
		<span class="badge sale">-32%</span>
		<span class="badge new">New</span>
		<span class="badge hit">Хит</span>
	</div>

	<!-- begin product-item__img -->
	<div class="product-item__img">
			<img class="product-item__image" src="img/products/atlas/1.png" alt="Атлас дюпон" itemprop="image">
			<button class="button-icon button-icon--fav js-button-icon--fav product-item__fav"></button>
	</div><!-- end product-item__img -->

	<!-- begin product-slider -->
	<div class="product-slider">
		<ul class="product-slider__list">

			<li class="product-slider__item">
			   <div class="product-slider__image" style="background-image: url('img/products/atlas/1.png');"></div>
			</li>

			<li class="product-slider__item">
			   <div class="product-slider__image" style="background-image: url('img/products/atlas/2.png');"></div>
			</li>

			<li class="product-slider__item">
			   <div class="product-slider__image" data-srcpath="" style="background-image: url('img/products/atlas/3.png');"></div>
			</li>

			<li class="product-slider__item">
			   <div class="product-slider__image" data-srcpath="" style="background-image: url('img/products/atlas/4.png');"></div>
			</li>

			<li class="product-slider__item product-slider__item--last">
				<div class="product-slider__image" data-srcpath="" style="background-image: url('img/products/atlas/3.png');"></div>
				<div class="product-slider__more">
					Ещё<br>5 цветов
				</div>
			</li>
		</ul>
	</div><!-- end product-slider -->

	<!-- begin product-item__desc -->
	<div class="product-item__desc">
			<div class="product-item__box">
				<h5 class="h5 product-item__title" itemprop="name">Атлас дюпон
					<span>white</span>
				</h5>
				<span class="product-item__articul">ам07</span>
			</div>
			<div class="product-item__box">
				<div class="product-item__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<meta itemprop="price" content="300.00">
					<meta itemprop="priceCurrency" content="RUB" /> 300
					<i class="fal fa-ruble-sign"></i>
				</div>
				<div class="product-item__color-count color-count">18 цветов</div>
			</div>
			<div class="product-item__more">
				<div class="product-item__color color">
					<ul class="color__list">
						<li class="color__item js-color-item" data-color="img/products/atlas/1.png">
							<img class="color__img" src="img/products/atlas/colors/1.png" alt="alt">
						</li>
						<li class="color__item js-color-item" data-color="img/products/atlas/2.png">
							<img class="color__img" src="img/products/atlas/colors/2.png" alt="alt">
						</li>
						<li class="color__item js-color-item" data-color="img/products/atlas/3.png">
							<img class="color__img" src="img/products/atlas/colors/3.png" alt="alt">
						</li>
						<li class="color__item js-color-item" data-color="img/products/atlas/4.png">
							<img class="color__img" src="img/products/atlas/colors/4.png" alt="alt">
						</li>
					</ul>
				</div>

				<button class="button button--transparent button--muted product-item__btn" onclick= "pushUp();">Добавить в корзину</button>

				<button class="button button--transparent button--default product-item__btn">Подробнее</button>

			</div>
	</div><!-- end product-item__desc -->
</a><!-- end product-item -->
