<!-- begin product-item -->
<a
	class="product-item js-product-item"
	href="card.html"
	itemscope
	itemtype="http://schema.org/Product"
>

	<!-- begin product-item__img -->
	<div class="product-item__img">
		<img
			class="product-item__image lazy-img"
			data-src="img/products/BlusenstoffMillefleurs/250x250/1.jpg"
			src="img/general/loading.gif"
			alt="Атлас дюпон"
			itemprop="image"
		>
		<button class="button-icon button-icon--fav js-button-icon--fav product-item__fav"></button>

		<div class="badge__wrap product-item__badge">
			<span class="badge badge--sale">-32%</span>
			<span class="badge badge--new"></span>
		</div>
	</div><!-- end product-item__img -->

	<!-- begin product-slider -->
	<div class="product-slider">
		<ul class="product-slider__list">

			{% for i in range(1, 3) %}
			<li class="product-slider__item">
			   <div
					class="product-slider__image"
					style="background-image: url(img/products/BlusenstoffMillefleurs/250x250/{{ i + 1 }}.jpg)"
				>
				</div>
			</li>
			{% endfor %}

			<li class="product-slider__item product-slider__item--last">
				<div
					class="product-slider__image lazy"
					data-bg="url(img/products/BlusenstoffMillefleurs/250x250/4.jpg)"
				></div>
				<div class="product-slider__more">
					Ещё<br>5 цветов
				</div>
			</li>
		</ul>
	</div><!-- end product-slider -->

	<!-- begin product-item__desc -->
	<div class="product-item__desc">
		<div class="product-item__box">
			<h5
				class="h5 product-item__title"
				itemprop="name"
			>
				Косая бейка "Серый нейтральный"
			</h5>
		</div>
		<div class="product-item__box">
			<div
				class="product-item__price product-item__price--discount"
				itemprop="offers"
				itemscope
				itemtype="http://schema.org/Offer"
			>
				<meta itemprop="priceCurrency" content="RUB">
				<meta itemprop="price" content="300.00">
				300
				<span>₽/м</span>
			</div>

			<div class="product-item__price">
				278
				<span>₽/м</span>
			</div>
		</div>
	</div><!-- end product-item__desc -->

	<div class="product-item__more">
		<button
			class="button button--transparent button--muted product-item__btn"
			onclick="pushUp();"
		>
			Добавить в корзину
		</button>

		<button class="button button--transparent button--default product-item__btn">Подробнее</button>
	</div>
</a><!-- end product-item -->
