<!-- begin product-item--small -->
<a class="product-item product-item--small" href="#" itemscope itemtype="http://schema.org/Product">
	<div class="product-item__img">
		<img src="img/products/atlas/small/1.png" alt="Атлас дюпон" itemprop="image">
	</div>
	<div class="product-item__desc">
		<h5 class="h5 product-item__title" itemprop="name">Атлас дюпон
			<span>white</span>
		</h5>
		<div class="product-item__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			<meta itemprop="price" content="300.00">
			<meta itemprop="priceCurrency" content="RUB"> 300
			<i class="rub">руб.</i>
		</div>
	</div>
</a>
<!-- end product-item--small -->
