//Typography

b, strong {
	font-family: $f-bold;
	font-weight: 600;
}

img{@extend %img;}

// Стили  ссылок
a {
	color: $color-text;
	text-decoration: none;
	outline: none;
	@include tr;
	&:hover{
		color: $color-accent;
	}
}

h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5, h6,.h6 {
	margin-top: 0;
}

h1,.h1,h2,.h2{
	font-family: $f2-bold;
	font-weight: 600;
	text-transform: uppercase;
}

h1,.h1 {
	font-size: 28px;
    line-height: 1.05em;

	@include md-block() {
		font-size: 26px;
		line-height: 1.3;
    }

	@include xs-block() {
		font-size: 24px;
	}
}
h2,.h2 {
	font-size: 22px;
	line-height: 1.25em;
	font-weight: 400;
	text-transform: uppercase;
    letter-spacing: 0.29px;

	@include md-block() {
		font-size: 20px;
		line-height: 1.25em;
    }

	@include sm-block() {
		font-size: 18px;
		line-height: 1.15384615em;
	}
}
h3,.h3 {
	font-family: $f2-bold;
	font-weight: 500;
	font-size: 28px;
    line-height: 1.25em;

	@include md-block() {
		font-size: 24px;
    }

	@include sm-block() {
		font-size: 22px;
		line-height: 1.13636364em;
	}
}
h4,.h4,h5,.h5, h6,.h6{
	font-family: $f2-bold;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
    margin-bottom: $base-indent;

	@include sm-block() {
		line-height: 1.11111111em;
	}
}
h4,.h4{
	font-size: 14px;
	letter-spacing: 0.24px;
	line-height: 1.22222222em;

}
h5,.h5, h6,.h6 {
	font-size: 12px;
	letter-spacing: 0.24px;
}

p{margin-bottom: $gutter;}
