//noUiSlider

.noUi-horizontal {
    height: 4px;

    .noUi-handle {
        background: $color-main;
        border-radius: 50%;
        height: 8px;
        left: -5px;
        top: -3px;
        width: 8px;
        @include max-screen(480) {
            height: 10px;
            width: 10px;
        }
    }
}

.noUi-handle {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    position: relative;

    &::after {
        background-color: #efefef;
        border: 1px solid #c8c8c8;
        border-radius: 50%;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        height: 22px;
        width: 22px;
        @include vcenter;
        @include tr(0.5s);
    }

    &::before {
        display: none;
    }
}

.noUi-connect,
.noUi-target {
    background: $color-main;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.noUi-base {
    position: static;
}

.noUi-base,
.noUi-handle {
    background-color: #f5f5f5;
}

//Select2

.select2-container {
    width: 100% !important;
}

.select2-dropdown {
    border-radius: $border-radius;
    z-index: 150;

    .select2-search__field {
        @extend %textLight;
        font-size: 14px;
    }
}

.select2-container--default .select2-selection--single {
    border-color: $color-border--light;
    border-radius: $border-radius;
    height: 40px;
    line-height: 40px;
    outline: none;
}

.select2-container--default
.select2-selection--single
.select2-selection__rendered {
    line-height: 38px;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow {
    height: auto;
    right: 10px;
    top: 0;
    width: auto;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow
b {
    border: 0;
    left: auto;
    margin-left: auto;
    margin-top: auto;
    position: absolute;
    right: 10px;
    top: auto;
    top: -2px;

    &::before {
        color: $gray--dark;
        content: '\f107';
        font-family: fal;
        font-size: 14px;
    }
}

.select2-container--default.select2-container--open
.select2-selection--single
.select2-selection__arrow
b {

    &::before {
        content: '\f106';
    }
}

.select2-container--open .select2-dropdown--below {
    border: 0;
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.2);
    z-index: 98;
}

.select2-results {

    &__option {
        font-family: oswald-500, sans-serif;
        font-size: 14px;
        height: 32px;
        line-height: 20px;
        padding-left: 10px;
        @include text-overflow;
        position: relative;

        .metro-icon {

            &::before {
                margin-right: 9px;
            }
        }
    }
}

.select2-container--default .select2-results > .select2-results__options {
    @include bz-scroll;
}

.select2-container--default .select2-results__option[aria-disabled='true'] {
    color: $gray--light;
}

.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: $color-bg--dark;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    font-family: oswald-500, sans-serif;
    font-size: 14px;
    padding: 0 30px 0 10px;
}

.select2-container--default
.select2-results__option--highlighted[aria-selected] {
    background-color: $color-bg--light;
    color: #000;
}

.select2-container--default .select2-results__option[aria-selected='true'] {
    background-color: transparent;
    color: $color-accent;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-color: $gray--lighten;
    height: 40px;
}

.select2-container--default.select2-container--focus
.select2-selection--multiple {
    border-color: $gray--lighten;
}

.select2-container--default .select2-selection--multiple {
    border-radius: $border-radius;
    height: auto;
    line-height: 1;
}

.select2-selection__rendered {
    height: 100%;
}

.select2-container--default
.select2-selection--multiple
.select2-selection__rendered {
    height: auto;
    line-height: 1;
    max-height: 170px;
    padding: 0 10px;
    @include bz-scroll;
}

.select2-container--default .select2-search--inline .select2-search__field {
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-top: 1px;
}

.select2-container--default
.select2-selection--multiple
.select2-selection__choice {
    background-color: $color-accent;
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 13px;
    height: auto;
    line-height: 21px;
    margin-top: 6px;
    padding: 0 20px 0 10px;
    position: relative;
}

.select2-container--default
.select2-selection--multiple
.select2-selection__choice__remove {
    color: #fff;
    position: absolute;
    right: 5px;
}

.select2-selection .select2-selection--multiple {
    height: 32px;
    line-height: 32px;
}

//Mas Gray
// [class*="ymaps-2"][class*="-ground-pane"] {
// 	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
//     /* Firefox 3.5+ */
//     -webkit-filter: grayscale(95%);
//     /* Chrome 19+ & Safari 6+ */
// }
