.bg {

    &--white {
        background-color: #fff;
    }

    &--green {
        background-color: $color-success;
    }
}

.color {
    @each $theme, $color in $button-colors {

        &-#{$theme} {
            color: $color;
        }
    }
} //colors class

.bz-section {
    padding: 30px 0 50px;

    @include xs-block() {
        padding: 0 0 30px;
    }
} //.bz-section

.section-header {
    display: block;
    font-size: 14px;
    line-height: 1;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;

    .h1 {
        font-family: $f2-bold;
        font-size: 20px;
        font-weight: 600;
        margin: $gutter * 2 0;
        text-transform: uppercase;
        @include respond-to(sm) {
            margin: $gutter 0;
        }
    }

    .h2,
    &__text {
        display: inline-block;
        font-size: 18px;
        margin: 30px 0 35px;
        position: relative;

        @include xs-block() {
            font-size: 16px;
            margin: 30px 0;
        }

        &::before,
        &::after {
            border-bottom: 1px solid $color-border--dark;
            content: '';
            height: 12px;
            position: absolute;
            top: 0;
            width: 800px;
            @include xs-block() {
                height: 12px;
            }
        }

        &::before {
            margin-right: 15px;
            right: 100%;
        }

        &::after {
            left: 100%;
            margin-left: 15px;
        }
    }

    &__text {

        &::before,
        &::after {
            top: -6px;
        }
    }
} //.section-header

.phone {
    @include flexColumn;

    &__desc {
        color: $gray;
        font-size: 9px;
        line-height: 1.4;
        text-transform: uppercase;
    } //.phone__desc
} //.phone

.social {

    &__list {
        @include flexCenter;
    } //.social__list

    &__item {

        & + & {
            margin-left: 20px;
        }
    } //.social__item

    &__link {
        border: 1px solid $color-border;
        border-radius: 50%;
        display: inline-flex;
        height: 32px;
        position: relative;
        @include tr;
        width: 32px;

        &::after {
            background-color: $color-accent;
            border-radius: 50%;
            content: '';
            display: block;
            @include coverdiv;
            transform: scale(0);
            transition: transform 0.35s ease;
        }

        &::before {
            font-family: faB;
            margin: auto;
            @include vcenter;
            z-index: z(default);
        }

        &:hover {
            border-color: transparent;
            color: #fff;

            &::after {
                transform: scale(1);
            }
        }
        @each $theme, $icon in $soc-icons {

            &--#{$theme} {

                &::before {
                    content: $icon;
                }
            }
        }
    } //.social__link
} //.social

.range {
    @include clr;

    &__slider {
        margin-bottom: 15px;
        margin-top: 5px;
    } //range__slider

    &__from,
    &__to {
        color: $color-text--light;
        display: inline-block;
        font-family: $f2;
        font-size: 15px;
        vertical-align: middle;

        span {
            color: $color-text;
            font-size: 14px;
        }

        i {
            color: $gray--light;
            font-size: 13px;
        }
    } //range__from

    &__from {
        float: left;
    } //range__from

    &__to {
        float: right;
    } //range__to
} //range

.title {
    font-family: $f2-bold;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;

    @include xs-block() {
        font-size: 23px;
    }
} //.title

.page-title {
    font-family: $f2;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: $gutter;
    text-transform: uppercase;
} //.page-title

.page-banner {
    font-family: $f2;
    margin: 10px 0;
    text-transform: uppercase;

    &__link {
        display: block;
        font-size: 15px;
        padding: 9px 15px;

        &:hover {
            color: $color-text;
        }
    } //.page-banner__link

    &__content {
        @include flexCenter;
    } //.page-banner__content

    strong {
        font-family: $f2-bold;
    }

    p {
        margin-bottom: 0;

        & + p {
            margin-top: 15px;
        }
    }
} //.page-banner

.seoblock {
    margin: $gutter * 2.5 0;

    &__title {
        font-size: 16px;
    }

    &__text {
        color: $gray--darken;
        font-family: $f-light;
    }
} //.seoblock

.list-dash {

    &__title {
        color: $gray--darken;
        display: block;
        font-family: $f-light;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__item {
        @include listIcon($color-accent);
    } //.list-dash__item
} //.list-dash

.policy {
    font-family: $f-light;
    font-size: 14px;

    &__text {
        display: block;
        margin-bottom: 5px;
    } //.policy__text

    &__error {
        color: $color-danger;
        font-size: 13px;
    } //.policy__error

    a {
        color: $color-info;

        &:hover {
            text-decoration: underline;
        }
    }
} //.policy
