---
title: Косая бейка "серый нейтральный"

tabRelated:
 - title: 'Ткани'
   icon: 'cloth'
 - title: 'Нитки'
   icon: 'thread'
---

{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin main card -->
<main class="main card">

	{% include "partials/_page-banner.html" %}

	<div class="container">

		<!-- begin card__top-line -->
		<div class="card__top-line">
			{% include "components/_breadcrumbs.html" %}

			<a class="button button--link card__btn card__btn--back" href="catalog.html">Вернуться в каталог</a>

			<a class="card__back" href="catalog.html">Атлас</a>
		</div><!-- end card__top-line -->

		<h1 class="h1 card__title" itemprop="headline">{{ title }}</h1>

		{% include "partials/_card-product.html" %}

		{% include "partials/_card-related.html" %}

		<!-- begin card__colors -->
		<div class="card__colors">
			<div class="section-header">
				<h2 class="h2">Другие цвета</h2>
			</div>

			{% include "partials/product/_product-slider.html" %}
		</div><!-- end card__colors -->

		{% include "partials/_reviews.html" %}


		<div class="button-box">
			<a class="button button--transparent button--accent card__btn--back" href="catalog.html">Вернуться в каталог</a>
		</div>

	</div>
</main><!-- end main card -->

{% endblock %}
