---
title: Корзина
wrapperClass: page-cart
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home cart -->
<main class="main cart cart--order">

	<div class="container">

		<div class="section-header cart__title">
			<h1 class="h1">Оформление заказа</h1>
		</div>

		<!-- begin cart__wrap -->
		<div class="cart__wrap">

			<!-- begin cart__success -->
			<div class="cart__success cart-success">
				<div class="cart-success__title">Заказ успешно оформлен. Спасибо!</div>
				<div class="cart-success__subtitle">Ваш заказ: <span>№490</span> от <span>01.05.2018 14:58</span></div>
				<div class="cart-success__text">В ближайшее время с Вами свяжется наш менеджер для подтверждения заказа. </div>
				<a href="catalog.html" class="button button--accent">Вернуться к покупкам</a>
			</div>
			<!-- end cart__success -->

		</div>
		<!-- end cart__wrap -->

	</div>

</main>
<!-- end home cart -->

{% endblock %}
