---
title: Корзина
wrapperClass: page-cart
---

{% extends "layouts/_layout.html" %} {% block content %}

<!-- begin home cart -->
<main class="main cart">

	{% include "partials/_page-banner.html" %}

	<div class="container">

		<div class="section-header cart__title">
			<h1 class="h1">Корзина</h1>
		</div>

		<!-- begin cart__wrap -->
		<div class="cart__wrap">

			<div class="cart__left stiky-content">
				{% for i in range(0, 10) %}
				<div class="product-item product-item--wide">
					<div class="product-item__img">
						<img
							class="product-item__image lazy"
							data-src="img/products/BlusenstoffMillefleurs/250x250/1.jpg"
							src="img/general/loading.gif"
							alt="Атлас дюпон"
						>
					</div>
					<div class="product-item__desc">
						<div class="product-item__title_wrap">
							<h5 class="h5 product-item__title">
								Косая бейка "Серый нейтральный"
							</h5>
							<span class="product-item__articul">
								ткани /
								<span>ac06</span>
							</span>
						</div>
						<div class="product-item__box">

							<div class="product-item__price product-item__price--current">
								340
								<span>руб./м</span>
								<small>-15%</small>
							</div>

							<!-- begin item-select -->
							<div class="item-select item-select--count js-item-select">
								<div class="item-select__value">
									<div class="item-select__control item-select__control--minus js-item-select-control--minus"></div>
									<span class="item-select__title">Выбрать</span>
									<input type="text" class="item-select__input" style="display: none;" spellcheck="false">
									<div class="item-select__control item-select__control--plus js-item-select-control--plus"></div>
								</div>
								<div class="item-select__list">
									<div class="item-select__item">
										<span class="item-select__title">1 м</span>
									</div>
									<div class="item-select__item">
										<div class="item-select__title_wrap">
											<span class="item-select__title">15 м </span>
										</div>
									</div>
									<div class="item-select__item">
										<div class="item-select__title_wrap">
											<span class="item-select__title">150 м</span>
										</div>
									</div>
								</div>
								<span class="item-select__error">Кол-во не выбрано!</span>
							</div><!-- end item-select -->

							<div class="product-item__price">
								29306,25
								<span>руб.</span>
							</div>

							<button
								class="product-item__del"
								title="Удалить"
							>
								{{ mixin.icon('trash') }}
							</button>

						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="cart__right js-stiky" data-stiky-offset-top="135">
				<div class="cart__sum sum-cart stiky-inner js-relative-block" id="sum-cart">
					<div class="sum-cart__inner">
						<div class="sum-cart__item">
							В корзине:
							<span>2</span>
							<small>товара</small>
						</div>
						<div class="sum-cart__item">Скидка:
							<span>10533,75 </span>
							<small>руб.</small>
						</div>
						<div class="sum-cart__item sum-cart__item--itog">Итого:
							<span>33641,25</span>
							<small>руб.</small>
						</div>

						<a href="cart-order.html" class="button button--default sum-cart__btn">Перейти к оформлению</a>
					</div>
					<p class="sum-cart__info">Доступные способы и время доставки можно выбрать при оформлении заказа.</p>
				</div>
			</div>

		</div><!-- end cart__wrap -->

		<div class="cart__btn js-fixed-block">
			<a href="#sum-cart" class="button button--default js-goto">Перейти к оформлению</a>
		</div>

		<!-- begin empty -->
		<div class="empty cart__empty" style="display: none;">
			<span class="empty__title">Корзина пуста</span>
			<p>Воспользуйтесь поиском, чтобы найти всё что нужно.
			Если в корзине были товары – <a class="button--link" href="#auth-form" data-toggle="modal">войдите</a>, чтобы посмотреть список.</p>
			<a href="catalog.html" class="button button--accent">Начать покупки</a>
		</div><!-- end empty -->

	</div>

</main><!-- end home cart -->

{% endblock %}
