---
title: Каталог

changer:
 - title: Все
   class: is-checked
 - title: Дюпон
   counter: 200
 - title: Матовый
   counter: 350
 - title: Тонкий
   counter: 150
 - title: Стрейч

---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<main class="main catalog">
	<div class="container">
		<!-- begin catalog__wrap -->
		<div class="catalog__wrap">

			{% include "partials/_catalog-filter.html" %}

			<!-- begin catalog-content -->
			<div class="catalog-content catalog__content stiky-content">

				<!-- begin catalog__top-line -->
				<div class="catalog__top-line">
					 <div class="catalog__title">
					 	<a class="catalog__back" href="#"><i class="far fa-angle-left"></i></a>
					 	<h1 class="h1" itemprop="headline">Остатки тканей в балаково</h1>
					 	<span class="catalog__count">350 товаров на складе</span>
					 </div>
					<div class="catalog__sorting sorting bz-select--dark">
						<span class="sorting__title">Сортировать по:</span>
						<select class="js-select select-with-icon">
							<option value="По умолчанию" data-image="default">По умолчанию</option>
							<option value="По возрастанию цены" data-image="top">По возрастанию цены</option>
							<option value="По убыванию цены" data-image="down">По убыванию цены</option>
							<option value="В начале новинки" data-image="new">В начале новинки</option>
						</select>
					</div>
				</div><!-- end catalog__top-line -->

				<!-- begin catalog__changer -->
				<div class="catalog__changer changer">
					<span class="changer__title">Разделы:</span>
					<ul class="changer__list js-changer">
						{% for item in changer %}
						<li class="changer__item {{ item.class }}">
							<a class="changer__link" href="#">
								{{ item.title }}
								<span class="changer__counter">{{ item.counter }}</span>
								<div class="changer__reset"><i class="fal fa-times"></i></div>
							</a>
						</li>
						{% endfor %}
					</ul>
				</div><!-- end catalog__changer -->

				<!-- begin product-item -->
				<div class="product-item__wrap">
					{% for i in range(0, 10) %}
						{% include "partials/product/_product.html" %}
					{% endfor %}
				</div><!-- end product-item -->

				<!-- begin catalog-filter__btn -->
				<button class="catalog-filter__btn catalog-filter__btn--show js-catalog-filter--show">
					{{mixin.icon('filter-btn')}}
				</button><!-- end catalog-filter__btn -->

				<!-- begin catalog-content__btn -->
				<button class="button button--transparent button--accent catalog-content__btn">Показать еще</button><!-- end catalog-content__btn -->

				{% include "partials/components/_pagination.html" %}

				<!-- begin catalog-content__empty -->
				<div class="catalog-content__empty" style="display: none;">
					<p>По вашим поисковым параметрам ничего не найдено</p>
					<button class="button button--transparent button--muted">Сбросить фильтр</button>
				</div><!-- end catalog-content__empty -->

				<!-- begin catalog-content__preloader -->
				<div class="catalog-content__preloader preloader" style="display: none;">
					<div class="preloader__inner"></div>
				</div><!-- end catalog-content__preloader -->
			</div><!-- end catalog-content -->

		</div><!-- end catalog__wrap -->

		<!-- begin seoblock -->
		<section class="seoblock catalog__seoblock">
			<div class="container">
				<h4 class="h4 seoblock__title">BAAZAR-TEX - Lorem ipsum dolor sit amet.</h4>
				<p class="seoblock__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, reprehenderit earum. Molestiae tenetur pariatur, sequi quo id quisquam dolorum non fuga incidunt maiores suscipit repudiandae repellat corporis, cumque a placeat maxime quaerat quidem in ullam totam. Ratione quo quam esse asperiores corrupti consequuntur maiores? Accusantium, saepe est illum placeat aliquid omnis consequuntur, neque tempora itaque optio debitis veritatis, molestias magnam ad aperiam explicabo perspiciatis atque ullam nihil vel assumenda. Cum!</p>
				<div class="list-dash__wrap">
					<span class="list-dash__title">Lorem ipsum:</span>
					<ul class="list-dash">
						<li class="list-dash__item">Lorem ipsum dolor sit amet.</li>
						<li class="list-dash__item">Lorem ipsum dolor sit amet.</li>
						<li class="list-dash__item">Lorem ipsum dolor sit amet.</li>
						<li class="list-dash__item">Lorem ipsum dolor sit amet.</li>
					</ul>
				</div>
			</div>
		</section> <!-- end seoblock -->

	</div>
</main><!-- end home -->

{% endblock %}
