---
title: BAZAR-TEX | Ткани и Фурнитура
wrapperClass: page-home

advantages:
- icon: 'otrez'
  num: '1'
  numText: 'метра'
  text: 'Покупка от'
- icon: 'send-product'
  num: '24'
  numText: 'часов'
  text: 'Отправка в течении'
- icon: 'delivery'
  num: '190'
  numText: 'руб'
  text: 'доставка от'
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<main class="main home">

	<!-- begin home-slider -->
	<section class="promo">
		<div class="container">

			<div class="bz-slider bz-slider--promo">
				<div class="bz-slider__arrow bz-slider__arrow--prev bz-slider-promo__arrow--prev"></div>
				<div class="bz-slider__arrow bz-slider__arrow--next bz-slider-promo__arrow--next"></div>
				<div class="bz-slider__slides js-bz-slider--promo">
					{% for i in range(1, 4) %}
					<div class="promo-gallery__item">
						<div class="promo-gallery__img">
							<a class="promo-gallery__link" href="#">
								<picture>
									<source media="(max-width: 480px)" srcset="img/promo/mobile/{{i}}.jpg">
									<img src="img/promo/desktop/{{i}}.jpg" alt="alt">
								</picture>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</section><!-- end home-slider -->

	<!-- begin new -->
	<section class="bz-section new">
		<div class="container">

			<div class="section-header">
				<h2 class="h2">Новинки</h2>
			</div>

			<div class="bz-slider bz-slider--new">
				<div class="bz-slider__arrow bz-slider__arrow--prev"></div>
				<div class="bz-slider__arrow bz-slider__arrow--next"></div>
				<div class="bz-slider__slides js-bz-slider--new">
					{% for i in range(0, 6) %}
						{% include "partials/product/_product-small.html" %}
					{% endfor %}
				</div>
			</div>

			<div class="bz-grid">
				<div class="bz-grid-in">
					<div class="bz-grid-col bz-grid-col-3 bz-grid-col-sm-2">
						<div class="bz-grid-row">
							<a class="new__item" href="#">
								<picture>
									<source media="(max-width: 480px)" srcset="img/new/mobile/1.jpg">
									<source media="(max-width: 768px)" srcset="img/new/tablet/1.jpg">
									<img class="new__img" src="img/new/desktop/1.jpg" alt="alt">
								</picture>
							</a>
						</div>
					</div>
					<div class="bz-grid-col bz-grid-col-3 bz-grid-col-sm-2">
						<div class="bz-grid-row bz-grid-row-3">
							<a class="new__item" href="#">
								<picture>
									<source media="(max-width: 480px)" srcset="img/new/mobile/3.jpg">
									<source media="(max-width: 768px)" srcset="img/new/tablet/3.jpg">
									<img class="new__img" src="img/new/desktop/3.jpg" alt="alt">
								</picture>
							</a>
						</div>
						<div class="bz-grid-row bz-grid-row-2">
							<a class="new__item" href="#">
								<picture>
									<source media="(max-width: 480px)" srcset="img/new/mobile/2.jpg">
									<source media="(max-width: 768px)" srcset="img/new/tablet/2.jpg">
									<img class="new__img" src="img/new/desktop/2.jpg" alt="alt">
								</picture>
							</a>
						</div>
					</div>
					<div class="bz-grid-col bz-grid-col-3 bz-grid-col-sm-12 bz-grid-col-sm-reverse">
						<div class="bz-grid-row bz-grid-row-2">
							<a class="new__item" href="#">
								<picture>
									<source media="(max-width: 480px)" srcset="img/new/mobile/2.jpg">
									<source media="(max-width: 768px)" srcset="img/new/tablet/2.jpg">
									<img class="new__img" src="img/new/desktop/2.jpg" alt="alt">
								</picture>
							</a>
						</div>
						<div class="bz-grid-row bz-grid-row-3">
							<a class="new__item" href="#">
								<picture>
									<source media="(max-width: 480px)" srcset="img/new/mobile/3.jpg">
									<source media="(max-width: 768px)" srcset="img/new/tablet/3.1.jpg">
									<img class="new__img" src="img/new/desktop/3.jpg" alt="alt">
								</picture>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="bz-grid">
				<div class="bz-grid-in">
					<div class="bz-grid-col bz-grid-col-3">
						<div class="bz-grid-row bz-grid-row-6">
							<a class="new__item" href="#">
								<picture>
									<source media="(max-width: 480px)" srcset="img/new/mobile/5.jpg">
									<source media="(max-width: 768px)" srcset="img/new/tablet/5.jpg">
									<img class="new__img" src="img/new/desktop/5.jpg" alt="alt">
								</picture>
							</a>
						</div>
						<div class="bz-grid-row bz-grid-row-6">
							<a class="new__item" href="#">
								<picture>
									<source media="(max-width: 480px)" srcset="img/new/mobile/5.jpg">
									<source media="(max-width: 768px)" srcset="img/new/tablet/5.jpg">
									<img class="new__img" src="img/new/desktop/5.jpg" alt="alt">
								</picture>
							</a>
						</div>
					</div>
					<div class="bz-grid-col bz-grid-col-2">
						<div class="bz-grid-row bz-grid-row">
							<a class="new__item" href="#">
								<picture>
									<source media="(max-width: 480px)" srcset="img/new/mobile/4.jpg">
									<source media="(max-width: 768px)" srcset="img/new/tablet/4.jpg">
									<img class="new__img" src="img/new/desktop/4.jpg" alt="alt">
								</picture>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section><!-- end new -->

	<!-- begin why-we -->
	<section class="bz-section why-we">
		<div class="container">

			<div class="why-we__title">Почему выбирают нас?</div>
			<p class="why-we__text">BAZAAR-TEX — это интернет-магазин тканей и фурнитуры. Всегда в наличии -  фатин более 200 оттенков, атлас, бархат, пайетки, бифлекс. На нашем сайте представлен широкий выбор фатина разной жесткости и оттенков.  Доставка заказов осуществляется по всей территории России и странам мира.</p>

		</div>
	</section><!-- end why-we -->

	<!-- begin advantages -->
	<section class="bz-section advantages">
		<div class="container">

			<div class="section-header">
				<h2 class="h2">Наши преимущества</h2>
			</div>

			<div class="advantages-item__wrap">
				{% for item in advantages %}
				<div class="advantages-item">
					<div class="advantages-item__icon">
						<img class="advantages-item__img" src="img/general/{{ item.icon }}.svg" alt="alt">
					</div>
					<div class="advantages-item__desc">
						<span class="advantages-item__text">{{ item.text }}</span>
						<span class="advantages-item__num">{{ item.num }} <span>{{ item.numText }}</span></span>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</section><!-- end advantages -->

</main>
<!-- end home -->

{% endblock %}
