---
title: BAZAR-TEX | Ткани и Фурнитура
wrapperClass: page-home

advantages:
- icon: 'otrez'
  num: '1'
  numText: 'метра'
  text: 'Покупка от'
- icon: 'send-product'
  num: '24'
  numText: 'часов'
  text: 'Отправка в течении'
- icon: 'delivery'
  num: '190'
  numText: 'руб'
  text: 'доставка от'
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<main class="main home">

	{% include "partials/_page-banner.html" %}

	<!-- begin home-slider -->
	<section class="promo">
		<div class="container">

			<div class="bz-slider bz-slider--promo">
				<div class="bz-slider__arrow bz-slider__arrow--prev bz-slider-promo__arrow--prev"></div>
				<div class="bz-slider__arrow bz-slider__arrow--next bz-slider-promo__arrow--next"></div>
				<div class="bz-slider__slides js-bz-slider--promo">
					<div class="promo-gallery__item">
						<div class="promo-gallery__img">
							<a class="promo-gallery__link" href="catalog.html">
								<picture>
									<source media="(max-width: 480px)" srcset="img/promo/mobile/1.jpg">
									<img
										class="lazy"
										data-src="img/promo/desktop/1.jpg"
										src="img/general/loading.gif"
										alt="alt"
									>
								</picture>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section><!-- end home-slider -->

	<!-- begin new -->
	<section class="bz-section new">
		<div class="container">

			<div class="section-header">
				<h2 class="h2">Новинки</h2>
			</div>

			{% include "partials/product/_product-slider.html" %}

		</div>
	</section><!-- end new -->

	<section class="bz-section">
		<div class="container">
			<h2 class="h2 title">Unsere Klassiker</h2>

			<div class="row">
				<div class="col-6 col-xs-12 xs-mb-10">
					<a href="catalog.html" class="bz-link">
						<img
							class="lazy"
							data-src="img/promo/690x300/1.jpg"
							src="img/general/loading.gif"
							alt="alt"
						>
					</a>
				</div>
				<div class="col-6 col-xs-12">
					<a href="catalog.html" class="bz-link">
						<img
							class="lazy"
							data-src="img/promo/690x300/2.jpg"
							src="img/general/loading.gif"
							alt="alt"
						>
					</a>
				</div>
			</div>

			<div class="section-header">
				<h2 class="h2">Neu eingetroffen</h2>
			</div>

			{% include "partials/product/_product-slider.html" %}
		</div>
	</section>

	<section class="bz-section">
		<div class="container">
			<h2 class="h2 title">Zum Basteln und Gestalten</h2>

			<div class="row">
				<div class="col-12">
					<a href="catalog.html">
						<picture>
							<source media="(max-width: 480px)" srcset="img/promo/mobile/3.jpg">
							<img
								class="lazy"
								data-src="img/promo/desktop/3.jpg"
								src="img/general/loading.gif"
								alt="alt"
							>
						</picture>
					</a>
				</div>
			</div>

			<div class="section-header">
				<h2 class="h2">Textiles Gestalten</h2>
			</div>

			{% include "partials/product/_product-slider.html" %}
		</div>
	</section>

	<section class="bz-section pos-xs-5">
		<div class="container">
			<h2 class="h2 title">traumhafte Winterqualitäten</h2>

			<div class="row">
				{% for i in range(0, 4) %}
				<div class="col-3 col-sm-6 col-xs-12">
					<a href="catalog.html" class="bz-link">
						<img
							class="lazy xs-mb-10"
							data-src="img/promo/540x264/{{ i + 1 }}.jpg"
							alt="alt"
						>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="bz-section">
		<div class="container">
			<h2 class="h2 title">süße Kinderstoffe</h2>

			<div class="row">
				<div class="col-12">
					<a href="catalog.html">
						<picture>
							<source media="(max-width: 480px)" srcset="img/promo/mobile/4.jpg">
							<img
								class="lazy"
								data-src="img/promo/desktop/4.jpg"
								alt="alt"
							>
						</picture>
					</a>
				</div>
			</div>

			<div class="section-header">
				<h2 class="h2">Traumhafte Kinderstoffe</h2>
			</div>

			{% include "partials/product/_product-slider.html" %}
		</div>
	</section>

	<!-- begin why-we -->
	<section class="bz-section why-we">
		<div class="container">

			<div class="why-we__title">Почему выбирают нас?</div>
			<p class="why-we__text">BAZAAR-TEX — это интернет-магазин тканей и фурнитуры. Всегда в наличии -  фатин более 200 оттенков, атлас, бархат, пайетки, бифлекс. На нашем сайте представлен широкий выбор фатина разной жесткости и оттенков.  Доставка заказов осуществляется по всей территории России и странам мира.</p>

		</div>
	</section><!-- end why-we -->

	<!-- begin advantages -->
	<section class="bz-section advantages">
		<div class="container">

			<div class="section-header">
				<h2 class="h2">Наши преимущества</h2>
			</div>

			<div class="advantages-item__wrap">
				{% for item in advantages %}
				<div class="advantages-item">
					<div class="advantages-item__icon">
						<img class="advantages-item__img" src="img/general/{{ item.icon }}.svg" alt="alt">
					</div>
					<div class="advantages-item__desc">
						<span class="advantages-item__text">{{ item.text }}</span>
						<span class="advantages-item__num">{{ item.num }} <span>{{ item.numText }}</span></span>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</section><!-- end advantages -->

</main>
<!-- end home -->

{% endblock %}
