---
title: Личный кабинет | Заказы
wrapperClass: page-lk
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home lk -->
<main class="main lk">
	<div class="container">

		<div class="section-header cart__title">
			<h1 class="h1">Мои заказы</h1>
		</div>

		<div class="lk__wrap">

			{% include "partials/lk/_lk-sidebar.html" %}

			<!-- begin lk__content -->
			<div class="lk__content stiky-content">

				<div class="user-order">
					<div class="accordeon lk__accordeon js-accordeon">
						{% for i in range(0, 3) %}
						<div class="accordeon__item user-order__item">
							<div class="accordeon__title user-order__title">
								<div class="user-order__box">
									<span class="user-order__num">Заказ <span>№018901</span></span>
									<span class="user-order__date">18 апр. 2018 10:48</span>
								</div>
								<div class="user-order__box user-order__box--last">
									<span class="user-order__sum_title">Сумма заказа</span>
									<span class="user-order__sum">45 200,50 руб.</span>
								</div>
								<span class="user-order__info">подробнее</span>
							</div>
							<div class="accordeon__content user-order__content" style="display: none;">

								<div class="user-order-item">
									<div class="user-order-item__img">
										<img src="img/products/atlas/small/1.png" alt="Атлас дюпон">
									</div>
									<div class="user-order-item__desc">
										<div class="user-order-item__left">
											<div class="user-order-item__title_wrap">
												<h5 class="h5 user-order-item__title product-item__title">
													<a href="#">Атлас дюпон <span>white</span></a>
												</h5>
												<span class="user-order-item__type">ткани</span>
												<span class="user-order-item__articul">ac06</span>
											</div>
										</div>
										<div class="user-order-item__right">
											<div class="user-order-item__box">
												<div class="user-order-item__price">
													340 <span>руб./м</span> &nbsp; x &nbsp;
													<span class="user-order-item__count">15 <span>м (1 рул)</span></span>
												</div>
											</div>
											<div class="user-order-item__box">
												<span class="user-order-item__sum">4 350,00 <span>руб.</span></span>
											</div>
										</div>
									</div>
								</div>

								<div class="user-order-item">
									<div class="user-order-item__img">
										<img src="img/products/atlas/small/1.png" alt="Атлас дюпон">
									</div>
									<div class="user-order-item__desc">
										<div class="user-order-item__left">
											<div class="user-order-item__title_wrap">
												<h5 class="h5 user-order-item__title product-item__title">
													<a href="#">Атлас дюпон <span>white</span></a>
												</h5>
												<span class="user-order-item__type">ткани</span>
												<span class="user-order-item__articul">ac06</span>
											</div>
										</div>
										<div class="user-order-item__right">
											<div class="user-order-item__box">
												<div class="user-order-item__price">
													340 <span>руб./м</span> &nbsp; x &nbsp;
													<span class="user-order-item__count">15 <span>м (1 рул)</span></span>
												</div>
											</div>
											<div class="user-order-item__box">
												<span class="user-order-item__sum">4 350,00 <span>руб.</span></span>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						{% endfor %}
					</div>
				</div>

                <!-- begin empty -->
                <div class="empty lk__empty"  style="display: none;">
                    <p>Вы еще не добавляли товар в избранное.</p>
                    <a href="#" class="button button--transparent button--info card__btn--back">Вернуться в каталог</a>
                </div>
                <!-- end empty -->

			</div>
			<!-- end lk__content -->

		</div>

	</div>
</main>
<!-- end home lk -->

{% endblock %}
