---
title: Востановление пароля
---

{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home password -->
<main class="main password">

	<div class="container">

		<div class="section-header cart__title">
			<h1 class="h1">Востановление пароля</h1>
		</div>

		<div class="password__inner">
			<div class="form password__form">

				<div class="form__inner">
					<form class="auth-form">
						<div class="input input--email form__input">
							<input type='email' class="input__field" placeholder="Ваш e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
							<span class="input__error">*Какая-то ошибочка вышла</span>
						</div>

						<div class="form__buttons">
							{{item.btn('Восстановить пароль', 'button--default form__btn')}}
						</div>

						<div class="form-success">
							<div class="form-success__center">
								<h3 class="form-success__title">Вам на почту было отправленно сообщение с подтверждением сброса пароля.</h3>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>

</main><!-- end home password -->

{% endblock %}
