---
title: Смена пароля
---

{% extends "layouts/_layout.html" %} {% block content %}

<!-- begin home password -->
<main class="main password">

	<div class="container">

		<div class="section-header cart__title">
			<h1 class="h1">Смена пароля</h1>
		</div>

		<div class="password__inner">
			<div class="form password__form">

				<div class="form__inner">
					<form class="auth-form">

						<div class="input input--password form__input">
							<input type='password' class="input__field" placeholder="Новый пароль">
							<i class="input__icon fal fa-eye-slash js-input-password--show"></i>
							<i class="input__icon fal fa-eye js-input-password--hide" style="display: none;"></i>
							<span class="input__error">*Какая-то ошибочка вышла</span>
						</div>

						<div class="input input--password form__input">
							<input type='password' class="input__field" placeholder="Подтвердите пароль">
							<i class="input__icon fal fa-eye-slash js-input-password--show"></i>
							<i class="input__icon fal fa-eye js-input-password--hide" style="display: none;"></i>
							<span class="input__error">*Какая-то ошибочка вышла</span>
						</div>

						<div class="form__buttons">
							{{item.btn('Сменить пароль', 'button--default form__btn')}}
						</div>

						<div class="form-success">
							<div class="form-success__center">
								<h3 class="form-success__title">Спасибо ваш пароль изменен!</h3>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>

</main><!-- end home password -->

{% endblock %}
