---
title: Отзывы о магазине Bazaar-tex
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<main class="main reviews">

	{% include "partials/_page-banner.html" %}

	<div class="container">

		<div class="section-header section-header--border">
			<h1 class="h1" itemprop="headline">{{ title }}</h1>
		</div>

		<div class="button-box">
			<p class="mt-30">Если у Вас возникла жалоба и предложение воспользуйтесь <a class="button button--link" data-toggle="modal" href="#form-suggestions">специальной формой</a>, мы обязательно поможем решить её.</p>
			<a class="button button--accent mt-30" href="review-add.html">Оставить отзыв</a>
		</div>

		<div class="reviews__pagination">
			{% include "components/_pagination.html" %}
		</div>


		{% import "data/data.html" as reviews %}
		{% for reviews in reviews.reviews %}
		<div
			class="reviews__item item-reviews"
			itemprop="review"
			itemscope
			itemtype="http://schema.org/Review"
		>
			<div class="item-reviews__author" itemprop="author">{{ reviews.author }}</div>
			<div class="item-reviews__date" itemprop="datePublished" content="2019-03-14">{{ reviews.date }}</div>
			<div class="item-reviews__rating">
				<div class="rating__wrap">
					<div class="rating">
						<div class="rating__inner" style="width: 50%;"></div>
					</div>
				</div>
			</div>
			<p class="item-reviews__comment" itemprop="description">{{ reviews.text }}</p>
		</div>
		{% endfor %}

	</div>
</main><!-- end home -->

{% endblock %}
