$card-indent: $gutter * 2;

.card {

    &__top-line {
        // margin-bottom: 10px;
        // margin-bottom: $gutter;
        // padding-top: 20px;
        border-bottom: 1px dashed $color-border;
        @include flexCenter;

        @include xs-block() {
            margin: $gutter/2 0;
            padding-top: 0;
        }
    } //.card__top-line

    &__wrap {
        margin-bottom: 10px;
        display: flex;

        @include xs-block() {
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
    } //.card__wrap

    &__image {
        max-width: 700px;
        margin-right: 30px;
        position: relative;
        flex-shrink: 0;

        @include md-block() {
            width: 50%;
        }

        @include sm-block() {
            margin-right: $gutter * 2;
            width: calc(50% - 40px);
        }

        @include xs-block() {
            margin-bottom: $card-indent/2;
            margin-right: 0;
            width: 100%;
        }
    } //.card__image

    &__slider {

        .slick-slide {
            margin: 0;
        }

        .slick-dots {
            bottom: -20px;

            li {

                button {
                    background-color: lighten($gray, 15%);
                    border-radius: 50%;
                    height: 6px;
                    margin: 0 2px;
                    padding: 0;
                    width: 6px;

                    &::before {
                        display: none;
                    }

                    &:hover {
                        background: $color-accent;
                        height: 8px;
                        width: 8px;
                    }
                }

                &.slick-active button {
                    background: $color-accent;
                    height: 8px;
                    transition: initial;
                    width: 8px;
                }
            }
        }

        &--nav {
            @include xs-block() {
                display: none;
            }

            .slick-slide {
                cursor: pointer;
                margin: 0 3px;
                outline: none;
                position: relative;

                &::after {
                    background-color: $color-accent;
                    content: '';
                    display: none;
                    height: 2px;
                    width: 100%;
                }

                &.slick-current {

                    &::after {
                        display: block;
                    }
                }
            }
        }
    } //.card__slider

    &__desc {
        padding-top: 22px;
        flex: 1;

        @include md-block() {
            width: calc(50% - 610px - 30px);
        }

        @include xs-block() {
            width: 100%;
        }
    } //.card__desc

    &__title {
        display: block;
        margin: 25px 0;
        font-size: 24px;
        font-family: $f2;
        font-weight: 400;

        @include sm-block() {
            font-size: 28px;
        }

        @include xs-block() {
            font-size: 23px;
            margin: $gutter/2 0;
            text-align: left;
        }
    } //.card__title

    &__item-select {
        margin-bottom: 40px;

        @include xs-block() {
            margin: 0 0 $gutter * 1.5;
            max-width: 100%;
        }
    } //.card__item-select

    &__price {
        font-family: $f2-bold;
        font-size: 23px;
        margin-bottom: 20px;
        @include xs-block() {
            margin-bottom: $gutter/1.5;
        }

        span {
            font-family: $f-light;
            font-size: 15px;
        }

        small {
            color: $color-danger;
            font-size: 15px;
            margin-left: 5px;
        }
    } //.card__price

    &__btn {
        font-size: 16px;
        position: relative;

        &--back {
            color: $color-text;
            font-family: $f-light;
            font-size: 14px;
            margin-bottom: 0;
            margin-left: auto;
            padding-left: 15px;

            @include xs-block() {
                display: none;
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
            }

            &::before {
                background-clip: padding-box;
                border: 1px solid #b7b7b8;
                border-left: 0 none;
                border-radius: 0 5px 5px 0;
                height: 8px;
                left: 0;
                margin: -4px 0 0;
                width: 10px;
            }

            &::after {
                border-bottom: 1px solid #b7b7b8;
                border-left: 1px solid #b7b7b8;
                height: 5px;
                left: 1px;
                margin: -6px 0 0;
                transform: rotate(45deg);
                width: 5px;
            }

            &.button--accent {
                color: $color-accent;
                display: inline-block;
                margin: 15px auto;

                @include xs-block() {
                    margin: $card-indent/2 auto 0;
                }

                &::before,
                &::after {
                    border-color: $color-accent;
                    margin-left: 15px;
                    @include tr;
                }

                &:hover {

                    &::before,
                    &::after {
                        border-color: #fff;
                    }
                }
            }
        } //.card__btn--back

        &--cart {
            padding-left: 20px;
            padding-right: 60px;
            @include btnBig;

            @include xs-block() {
                padding-right: 25px;
            }

            span {
                background-color: $gray--darken;
                border-radius: 0 $border-radius $border-radius 0;
                display: block;
                height: 45px;
                overflow: hidden;
                position: absolute;
                right: 0;
                top: 0;
                width: 45px;

                &::after,
                &::before {
                    color: #fff;
                    font-family: fal;
                    font-size: 18px;
                    @include vy;
                    @include tr();
                }

                &:first-child {

                    &::after {
                        content: '\f07a';
                        right: 13px;
                    }

                    &::before {
                        content: '\f218';
                        left: -100px;
                    }
                }

                &:last-child {
                    display: none;

                    &::after {
                        content: '\f2ed';
                        right: 14px;
                    }
                }
            }

            &:hover {

                span {

                    &:first-child {

                        &::after {
                            right: -100px;
                        }

                        &::before {
                            left: 12px;
                        }
                    }
                }
            }

            &.is-checked {
                background-color: $color-main;
                color: #fff;

                span {

                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        display: block;
                    }
                }
            }
        } //.card__btn--cart

        &--fav {
            position: absolute;
            top: 20px;
            right: 25px;
            z-index: z(fixed);

            &::before {
                font-size: 41px;
            }

            &::after {
                color: #fff;
                font-size: 39px;
            }
        } //.card__btn--fav
    } //.card__btn

    &__back {
        display: block;
        font-family: $f2-bold;
        font-size: 16px;
        padding: 5px 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        &::before {
            content: '\f104';
            font-family: far;
            font-size: 20px;
            @include vy;
            left: 0;
        }

        @include min-screen(481) {
            display: none;
        }
    } //.card__back

    &__order-info {
        width: 100%;
        margin-top: 5px;
        font-size: 13px;
        text-align: left;

        @include xs-block() {
            text-align: center;
        }

        span {
            font-family: $f2-bold;
        }
    } //.card__order-info

    &__info {
        // max-width: 375px;

        // @include xs-block() {
        //     max-width: 100%;
        // }

        .tab {

            &__titles {
                display: flex;
            } //.card__info .tab__titles

            &__title {
                padding: 8px 10px;
                font-size: 13px;
                border-bottom: 4px solid transparent;

                & + .tab__title {
                    margin-left: 20px;

                    &::before {
                        content: '';
                        display: block;
                        width: 1px;
                        height: 90%;
                        background-color: $gray--light;
                        @include centre('y');
                        left: -10px;
                    }
                }

                &.is-active {
                    font-family: $f-bold;
                    border-bottom: 4px solid $color-accent;
                }
            } //.card__info .tab__title
        } //.card__info .tab

        .item-select {

            &--free {
                margin: 0 -10px;
            }
        }
    } //.card__info

    &__related {

        .tab {
            margin: 0 148px;

            @include md-block() {
                margin: 0 45px;
            }

            @include xs-block() {
                margin: 0;
            }

            &__titles {
                // padding: 0 15px 1px;

                @include md-block() {
                    padding: 0 22px 1px;
                }

                @include sm-block() {
                    padding: 0 13px 1px;
                }

                @include xs-block() {
                    width: 100%;
                    padding: 0 10px 30px;
                    margin-bottom: -30px;
                    overflow-x: auto;

                    &_wrap {
                        border-bottom: 1px solid $color-border--lighten;
                        overflow: hidden;
                    }
                }
            } //.card__related .tab__titles

            &__title {
                padding-bottom: 15px;
            } //.card__related .tab__title

            &__contentes {
                padding: 35px 0;
            } //.card__related .tab__contentes

            &__link {
                align-items: center;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
            } //.card__related .tab__link
        } //.card__related .tab
    } //.card__related

    &__colors {
        @include xs-block() {
            margin-bottom: 0;
        }
    } //.card__colors

    .button-box {
        margin-bottom: 35px;

        .button--yellow {
            @include xs-block() {
                width: 100%;
                text-align: center;
                justify-content: center;
            }
        }

        div {
            height: 45px;
            margin-left: 30px;
            width: 45px;

            @include xs-block() {
                margin-left: 15px;
            }
        }
    }

    .accordeon {

        &__item {
            border-bottom: 1px solid $color-border--light;

            &:first-child {
                border-top: 1px solid $color-border--light;
            } //.card .accordeon__item:first-child
        } //.card .accordeon__item

        &__title {
            font-family: $f;
            padding: 12px 0 12px 10px;
            text-transform: uppercase;
        } //.card .accordeon__title

        &__content {
            padding: 0 10px 10px;

            p {
                font-size: 15px;
            }
        } //.card .accordeon__content
    } //.card .accordeon

    .bz-slider {

        &--colors {
            margin-top: 30px;
            margin-left: 132px;
            margin-right: 40px;

            @include md-block() {
                margin-top: 20px;
                margin-left: 35px;
            }
        } //.card .bz-slider--colors
    } //.card .bz-slider

    .product-item__fav {
        height: 42px;
        width: 42px;
        right: 20px;

        @include xs-block() {
            right: 18px;
        }

        &::before {
            font-size: 47px;
        }//.card .product-item__fav::before

        &::after {
            font-size: 40px;
        }
    }//.card .product-item__fav
} //.card

.item-related {

    &__img {
        margin-bottom: 10px;
    } //.related__img

    &__title {
        display: block;
        font-family: $f2-bold;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;

        span {
            display: block;
        }
    } //.related__title

    &__price {
        display: block;
        font-size: 12px;
        text-align: center;
    } //.related__price
} //.item-related

.item-select {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    cursor: pointer;
    height: 36px;
    line-height: 34px;
    margin-top: 20px;
    outline: none;

    @include respond-to(i7) {
        margin-top: 30px;
    }

    &:hover {

        .item-select {

            &__value {
                color: $color-text;
            }
        }
    }

    &.is-active {

        .item-select {

            &__value {

                &::after {
                    content: '\f106';
                }
            }

            &__list {
                display: block;
            }
        }
    }

    &.is-error {

        .item-select__error {
            display: block;
        }
    }

    &.is-close {

        .item-select {

            &__control {

                &--minus {
                    background-color: $color-accent;
                    border-color: $color-accent;
                    color: #fff;

                    &::before {
                        content: '\f00d';
                    }
                }
            }
        }
    }

    &__error {
        bottom: -17px;
        color: $gray;
        display: none;
        font-size: 13px;
        left: 0;
        line-height: 1;
        position: absolute;
        right: 0;
        text-align: center;
    } //.item-select__error

    &__group {
        max-width: 375px;
        position: relative;
        @include flexCenter;
        @include respond-to(i7) {
            flex-wrap: wrap;
        }

        .item-select {
            width: 50%;
            @include respond-to(i7) {
                position: relative;
                width: 100%;
            }

            & + .item-select {
                margin-left: 10px;
                @include respond-to(i7) {
                    margin-left: 0;
                }
            }
        }
    } //.item-select__group

    &__caption {
        color: $gray--dark;
        font-family: $f;
        font-size: 13px;
        position: absolute;
        top: -10px;
        @include respond-to(i7) {
            top: -30px;
        }
    } //.item-select__caption

    &__value {
        height: 100%;
        padding: 0 30px;
        position: relative;

        &::after {
            color: $gray;
            content: '\f107';
            font-family: fal;
            font-size: 18px;
            @include vy;
            right: 8px;
            @include tr;
        }
    } //.item-select__value

    &__input {
        border-bottom: 1px solid $color-border;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top: 1px solid $color-border;
        font-size: 14px;
        height: 36px;
        padding: 0 10px;
        text-align: center;

        &:focus {
            border-left-color: transparent;
            border-right-color: transparent;
            font-size: 14px;
        }
    } //.item-select__input

    &__color {
        border-radius: 50%;
        display: block;
        height: 15px;
        left: 8px;
        @include vy;
        width: 15px;
    } //.item-select__color

    &__title {
        display: block;
        font-family: $f;
        font-size: 14px;
        width: 100%;
        @include text-overflow;

        &_wrap {
            @include flexCenter;
            flex: 1;
        }

        &_desc {
            font-family: $f;
            font-size: 13px;
        }
    } //.item-select__title

    &__subtitle {
        font-family: $f;
        font-size: 13px;

        &.stock {
            color: #20a837;
            font-family: $f-light;
        }

        &.ends {
            color: $color-danger;
            // color: #f60;
            font-family: $f-light;
        }
    } //.item-select__title

    &__list {
        background-color: #fff;
        border: 1px solid $color-border;
        border-radius: 0 0 $border-radius $border-radius;
        display: none;
        left: 0;
        max-height: 211px;
        position: absolute;
        top: 99%;
        width: 100%;
        z-index: z(modal);
        @include bz-scroll;

        @include respond-to(i5) {
            left: -1px;
            right: -1px;
            width: auto;
        }
    } //.item-select__list

    &__item {
        border-bottom: 1px solid $color-border--light;
        padding: 0 15px 0 30px;
        position: relative;
        @include nosel;
        @include flexCenter;

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: $color-bg--lighten;
            color: $color-text;
        }

        &--header {
            cursor: default;

            &:hover {
                background-color: #fff;
            }

            .item-select {

                &__title {
                    font-size: 14px;
                    @include nosel;
                }

                &__subtitle {
                    font-size: 14px;
                    width: 170px;
                }
            }
        }

        .item-select {

            &__title {
                flex: 1;
                width: auto;

                &_wrap {

                    .item-select__title {
                        flex: initial;
                    }
                }
            }
        }
    } //.item-select__item

    &__control {
        border: 1px solid $color-border;
        bottom: 0;
        display: inline-block;
        height: 36px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 36px;

        &::before {
            font-family: fal;
        }

        &:hover {
            background-color: $color-accent;
            border-color: $color-accent;
            color: #fff;
        }

        &--minus {
            border-radius: $border-radius 0 0 $border-radius;
            left: 0;

            &::before {
                content: '\f068';
            }
        }

        &--plus {
            border-radius: 0 $border-radius $border-radius 0;
            right: 0;

            &::before {
                content: '\f067';
            }
        }
    } //.item-select__control

    &--count {
        border: 0;

        .item-select {

            &__list {
                @include respond-to(i5) {
                    left: 0;
                    right: 0;
                    top: 97%;
                }
            }

            &__value {
                padding: 0 33px;
                text-align: center;

                &::after {
                    right: 45px;
                }

                .item-select__title {
                    border-bottom: 1px solid $color-border;
                    border-top: 1px solid $color-border;
                    padding: 0 10px;
                }
            }

            &__title {
                font-family: $f;
                padding: 0 7px;

                span {
                    font-size: 12px;
                }
            }

            &__subtitle {
                font-family: $f2-bold;
                font-size: 14px;
                position: relative;
                width: 170px;

                @include respond-to(i5) {
                    width: 130px;
                }

                span {
                    color: $color-danger;
                    font-size: 13px;
                    position: relative;
                    top: -8px;
                }
            }

            &__item {
                padding: 0 10px 0 2px;

                &--header {

                    .item-select__subtitle {
                        font-family: $f;
                    }
                }
            }
        }
    } //.item-select--count

    &--free {

        .item-select {

            &__list {
                display: block;
                max-width: 375px;
                border-color: $color-border--light;
                position: static;
            }

            &__item {
                padding: 8px 10px 8px 2px;
                pointer-events: none;
            }
        }
    }
} //.item-select

.bz-table {

    &__list {
        @include flexColumn;
    } //bz-table__list

    &__item {
        display: flex;
        margin-bottom: 4px;
    } //.bz-table__item

    &__subitem {
        color: $color-text;
        font-size: 15px;
        min-width: 285px;
        width: 215px;
        @include text-overflow;

        @include md-block() {
            min-width: 250px;
        }

        @include sm-block() {
            min-width: 175px;
        }

        &:last-child {
            margin-right: 0;
        }

        span {
            background-color: #fff;
            font-family: $f-bold;
            margin-right: 5px;
        }
    } //.bz-table__subitem

    &--dot {

        .bz-table {

            &__subitem {

                &:first-child {
                    background-image: url('../img/general/dot.png');
                    background-position: 0 14px;
                    background-repeat: repeat-x;
                }
            }
        }
    } //.bz-table--dot

    &--column {

        .bz-table {

            &__list {
                flex-direction: row;
            }

            &__item {
                flex-direction: column;
                min-width: 215px;
                width: 215px;
            }

            &__subitem {

                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    } //.bz-table--column
} //.bz-table
