.cart {
    border-top: 1px solid $color-border--light;
    padding-bottom: $gutter * 2;

    &__wrap {
        @include flexColumn;
    } //.cart__wrap

    &__title,
    &__item {
        border-bottom: 1px dashed $color-border;
    } //.cart__item

    &__items {
        @include flexColumn;
        @include respond-to(xs) {
            order: 3;
        }
    } //.cart__items

    &__item {
        margin-bottom: 0;
        padding: $gutter 0 $gutter 10px;
        @include respond-to(xs) {
            margin-bottom: 0;
            padding: $gutter 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    } //.cart__item

    &__btn {
        font-size: 15px;

        @include respond-to(xs) {
            font-size: 16px;
            height: 45px;
            line-height: 44px;
            width: 100%;
        }
    } //.cart__btn

    &__box {
        justify-content: space-between;
        @include flexCenter;
        padding: $gutter 0;
        @include respond-to(xs) {
            flex-wrap: wrap;
            order: 1;
        }
    } //.cart__box

    &__sum {
        font-family: $f-bold;
        font-size: 14px;
        margin-left: auto;
        text-align: right;

        @include respond-to(xs) {
            margin-bottom: 0;
            text-align: left;
            width: 100%;
        }

        &_sale {
            @include respond-to(xs) {
                align-items: center;
                display: flex;

                span {
                    margin-left: auto;
                }
            }

            span {
                color: $color-accent;
                font-family: $f2-bold;
                font-size: 18px;
            }

            small {
                font-family: $f;
                font-size: 14px;
                @include respond-to(xs) {
                    margin-left: 5px;
                }
            }
        }

        &_current {
            font-size: 17px;
            @extend .cart__sum_sale;

            span {
                font-size: 20px;
            }
        }
    } //.cart__sum

    &__form {
        margin: $gutter * 2.5 auto 0;
        max-width: 425px;

        @include respond-to(xs) {
            margin: $gutter auto;
            max-width: 100%;
            order: 2;
            width: 100%;
        }

        .form {

            &__inner {
                flex-direction: column;

                & > .form__box {

                    &:last-child {
                        @include size-sm(12);
                    }
                }
            }

            &__box {
                margin-bottom: 0;
                @include respond-to(xs) {
                    flex-direction: column;
                }

                &--wide {
                    flex-direction: column;

                    .form__input {
                        width: 100%;
                    }
                }

                .form__box {
                    margin-bottom: 0;
                    width: 100%;

                    .form__input {

                        &:last-child {
                            width: 50%;
                            @include respond-to(xs) {
                                width: 55%;
                            }
                        }

                        & + .form__input {
                            margin-left: $gutter;
                            @include respond-to(xs) {
                                margin-left: $gutter/2;
                            }
                        }
                    }
                }

                .form__input {

                    &:first-child {
                        flex: 1;
                        @include respond-to(xs) {
                            width: 100%;
                        }
                    }

                    &:last-child {
                        margin-left: $gutter;
                        width: 30%;
                        @include respond-to(xs) {
                            margin-left: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .cart__btn {
            font-size: 16px;
            height: 43px;
            line-height: 42px;
            width: 100%;
        }

        .section-header {

            .h1 {
                margin: 0 0 $gutter * 2 0;
            }
        }
    } //.cart__form

    &__policy {
        margin-bottom: $gutter;
    } //.cart__policy

    .form-success {
        @include respond-to(xs) {
            align-items: flex-start;

            &__center {
                margin-top: 30px;
            }
        }
    }
} //.cart

.cart-success {
    padding: 50px 0;
    text-align: center;

    &__title {
        font-family: $f-bold;
        font-size: 23px;
        margin-bottom: $gutter;
    } //.cart-success__title

    &__subtitle {
        margin-bottom: $gutter;

        span {
            font-family: $f2-bold;
            font-size: 18px;
        }
    } //.cart-success__subtitle

    &__text {
        margin-bottom: $gutter * 2;
    } //.cart-success__text
} //.cart-success

.empty {
    padding: 50px 0;
    text-align: center;

    p {
        font-size: 20px;
        text-transform: uppercase;
    }
} //empty
