.page-cart {
    .header__bottom,
    .nav-main__btn--close,
    .hamburger {
        @include sm-block() {
            background-color: #fff;
        }
    }
}

.cart {
    padding-bottom: 60px;
    border-top: 1px solid $color-border--light;
    background-color: $color-bg--lighten;

    @include xs-block() {
        padding-bottom: 30px;
    }

    &__wrap {
        display: flex;

        @include sm-block() {
            flex-wrap: wrap;
        }
    } //.cart__wrap

    &__left {
        width: calc(100% - 300px);
        margin-right: 30px;
        // background-color: #fff;
        border-radius: $border-radius * 3;
        // overflow: hidden;

        @include sm-block() {
            width: 100%;
            margin-right: 0;
        }

        &--transparent {
            background-color: transparent;
        } //.cart__left--transparent

        .product-item {
            &:first-child {
                border-radius: $border-radius * 3 $border-radius * 3 0 0;
            }

            &:last-child {
                border-radius: 0 0 $border-radius * 3 $border-radius * 3;
            }

            &:only-child {
                border-radius: $border-radius * 3;
            }
        }
    } //.cart__left

    &__right {
        width: 375px;

        @include sm-block() {
            width: 100%;
            margin-top: 30px;
        }
    } //.cart

    &__title,
    &__item {
        border-bottom: 1px dashed $color-border;
    } //.cart__item

    &__title {
        position: relative;
        margin-bottom: 40px;
        overflow: initial;

        @include xs-block() {
            margin-bottom: 20px;
        }

        .h1 {
            padding: 25px 0;
        }

        .button--back {
            left: 0;
            @include centre('y');

            @include xs-block() {
                top: auto;
                right: 0;
                bottom: -44px;
                left: auto;
                transform: none;
            }
        } //.cart__title .button--back
    } //.cart__title

    &__items {
        @include flexColumn;
        @include respond-to(xs) {
            order: 3;
        }
    } //.cart__items

    &__item {
        margin-bottom: 0;
        padding: $gutter 0 $gutter 10px;
        @include respond-to(xs) {
            margin-bottom: 0;
            padding: $gutter 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    } //.cart__item

    &__btn {
        display: none;

        @include xs-block() {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: z(absolute);
            display: block;
            width: 100%;
            padding: 10px;
            background-color: rgba(#fff, 0.9);
            font-size: 16px;
            @include tr;

            &.is-hide {
                transform: translateY(150%);
            }
        }
    } //.cart__btn

    &__box {
        @include flexColumn;
    } //.cart__box

    &__form {
        padding: 28px 25px 8px;

        @include xs-block() {
            padding: 18px 10px 0;
        }
    } //.cart__form

    &__policy {
        margin-bottom: $gutter;
    } //.cart__policy

    &__empty {
        max-width: 425px;
        margin: 0 auto;
    }

    .form-success {
        @include respond-to(xs) {
            align-items: flex-start;

            &__center {
                margin-top: 30px;
            }
        }
    }

    .product-item {
        border-bottom: 1px dashed $color-border;

        &:last-child {
            border-bottom: 0;
        }
    } //.cart .product-item
} //.cart

.box-cart {
    &__header {
        margin-bottom: 15px;
        @include flexCenter;
    } //.box-cart__header

    &__checkbox {
    } //.box-cart__checkbox

    &__counter {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: $color-bg--dark;
        color: #fff;
        font-family: $f-bold;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    } //.box-cart__counter

    &__title {
        position: relative;
        font-family: $f-bold;
        font-size: 21px;
        letter-spacing: 1px;
    } //.box-cart__title

    &__inner {
        padding: 10px;
        border-radius: $border-radius * 3;
    } //.box-cart__inner

    & + .box-cart {
        margin-top: 40px;
    }
} //.box-cart

.sum-cart {
    margin-left: auto;
    font-family: $f-medium;

    @include respond-to(xs) {
        width: 100%;
        margin-bottom: 0;
        text-align: left;
    }

    &__inner {
        padding: 20px;
        border-radius: $border-radius * 3;
        background-color: #fff;

        @include xs-block() {
            padding: 10px 15px 15px;
        }
    }

    &__btn {
        margin-top: 20px;
        font-size: 16px;
    }

    &__info {
        display: block;
        margin-top: 15px;
        color: $color-text--light;
        font-family: $f;
        font-size: 15px;
        line-height: 1.4;
    }

    &__item {
        @include flexCenter;

        & + .sum-cart__item {
            margin-top: 7px;

            &--itog {
                margin-top: 15px;
            }
        }

        span {
            margin-right: 5px;
            margin-left: auto;
            color: $color-accent;
            font-family: $f2-bold;
            font-size: 18px;
        } //.sum-cart__item span

        small {
            font-family: $f;
            font-size: 14px;

            @include respond-to(xs) {
                margin-left: 5px;
            }
        } //.sum-cart__item small

        &--itog {
            padding-top: 15px;
            border-top: 1px solid $color-border;
            font-family: $f-bold;
            font-size: 22px;

            span {
                font-size: 22px;
            }
        } //.sum-cart__item--itog
    } //.sum-cart__item

    &_sale {
        @include respond-to(xs) {
            display: flex;
            align-items: center;

            span {
                margin-left: auto;
            }
        }
    }

    &_current {
        font-size: 17px;
        // @extend .cart__sum_sale;

        span {
            font-size: 20px;
        }
    }
} //.sum-cart

.cart-success {
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    @include flexColumn;

    &__title {
        margin-bottom: $gutter;
        font-family: $f-bold;
        font-size: 23px;
    } //.cart-success__title

    &__subtitle {
        margin-bottom: $gutter;

        span {
            font-family: $f2-bold;
            font-size: 18px;
        }
    } //.cart-success__subtitle

    &__text {
        margin-bottom: $gutter * 2;
    } //.cart-success__text
} //.cart-success

.form-cart {
} //.form-cart
