.lk {

    &__wrap {
        margin: $gutter * 2.5 0;
        @include flex;
        @include respond-to(sm) {
            margin: 30px 0;
        }
    } //.lk__wrap

    &__sidebar {
        width: 300px;
        margin-right: 30px;
        @include respond-to(md) {
            width: 180px;
        }

        @include respond-to(sm) {
            display: none;
        }
    } //.lk__sidebar

    &__content {
        flex: 1;
    } //.lk__content

    &__empty {
        margin-left: -330px;
        @include respond-to(md) {
            margin-left: -215px;
        }

        @include respond-to(sm) {
            padding: 0;
            margin-left: 0;
        }
    } //.lk__empty

    &__form {
        max-width: 425px;
        margin-left: 55px;
        @include respond-to(md) {
            margin-left: 80px;
        }

        @include respond-to(sm) {
            margin: 0 auto;
        }

        .form {

            &__box {
                width: 100%;
                margin-bottom: 0;
                flex-direction: column;

                & + & {
                    margin-top: 20px;
                }
            }

            &__input {
                width: 100%;
            }

            &__btn {
                height: 43px;
                line-height: 42px;
                font-size: 16px;
            }
        }
    } //.lk__form
} //.lk

.lk-nav {

    &__item {
        margin-bottom: $gutter;
    } //.lk-nav__item

    &__link {
        padding-left: 30px;
        font-size: 13px;
        text-transform: uppercase;
        position: relative;

        &::before {
            font-family: fal;
            font-size: 16px;
            @include vy;
            left: 0;
        }

        @each $theme, $icon in $nav-lk-icons {

            &--#{$theme} {

                &::before {
                    content: $icon;
                }
            }
        }

        &--order {

            &::before {
                left: -3px;
            }
        }

        &--fav {

            &::before {
                left: -1px;
            }
        }
    } //.lk-nav__link

    &__icon {
        font-size: 16px;
        @include vy;
        left: 0;
    } //.lk-nav__icon
} //.lk-nav

.user-order {

    &__item {

        & + & {
            margin-top: $gutter/2;
        }

        &:hover,
        &.is-open {

            .user-order {

                &__title {
                    border-left-color: $color-accent;
                }
            }
        }
    } //.user-order__item

    &__title {
        padding: 7px 15px;
        border: 1px solid $color-border--light;
        border-left: 5px solid $gray--darken;
        border-radius: $border-radius * 2;
        @include flex;

        &::before {
            display: none;
        }
    } //.user-order__title

    &__box {
        @include flexColumn;

        &--last {
            text-align: right;
        }
    } //.user-order__box

    &__num {
        margin-bottom: 5px;

        span {
            font-family: $f2-bold;
            color: $color-text;
        }
    } //.user-order__num

    &__date {
        font-size: 14px;
    } //.user-order__date

    &__sum {
        font-family: $f2-bold;
        color: $color-text;

        &_title {
            margin-bottom: 5px;
            font-family: $f-light;
            font-size: 14px;
        }
    } //.user-order__sum

    &__info {
        font-size: 13px;
        color: $color-text--light;
        @include vx;
        bottom: 7px;
        @include respond-to(i5) {
            display: none;
        }
    } //.user-order__info

    &__content {
        padding: 0 15px;
        border-left: 5px solid $color-accent;
        border-radius: $border-radius * 2;
        box-shadow: 0 3px 6px rgba(86, 86, 86, 0.2);
    } //.user-order__content
} //.user-order

.user-order-item {
    padding: 12px 0 10px;
    @include flexCenter;

    & + & {
        border-top: 1px solid $color-border--light;
    }

    &__desc {
        @include flexCenter;
        justify-content: space-bettwen;
        flex: 1;
        @include respond-to(xs) {
            flex-direction: column;
        }
    } //.user-order-item__desc

    &__left {
        width: 50%;
        @include respond-to(sm) {
            width: 40%;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    } //.user-order-item__left

    &__right {
        width: 50%;
        text-align: right;
        @include flexCenter;
        justify-content: flex-end;
        @include respond-to(sm) {
            width: 60%;
        }

        @include respond-to(xs) {
            width: 100%;
            text-align: left;
            justify-content: space-between;
        }

        @include respond-to(i7) {
            flex-direction: column;
        }
    } //.user-order-item__right

    &__box {
        position: relative;
        @include respond-to(i7) {
            width: 100%;

            &:last-child {
                margin-top: 10px;
                text-align: right;
            }
        }

        & + & {
            margin-left: 50px;
            @include respond-to(xs) {
                margin-left: 15px;
            }

            @include respond-to(i7) {
                margin-left: 0;
            }

            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 23px;
                background-color: #a2a2a2;
                @include vy;
                left: -25px;
                @include respond-to(xs) {
                    left: -20px;
                }

                @include respond-to(i7) {
                    display: none;
                }
            }
        }
    } //.user-order-item__box

    &__img {
        width: 60px;
        margin-right: $gutter;
        @include respond-to(xs) {
            width: 40px;
        }
    } //.user-order-item__img

    &__title {
        font-size: 14px;

        @include respond-to(xs) {
            text-align: left;
        }
    } //.user-order-item__title

    &__type {
        display: block;
        text-transform: lowercase;
        font-size: 14px;
        @include respond-to(xs) {
            display: inline-block;

            &::after {
                content: '/';
                padding-left: 5px;
            }
        }
    } //.user-order-item__type

    &__articul {
        font-size: 14px;
        text-transform: uppercase;
        @include respond-to(xs) {
            display: inline-block;
            font-family: $f-bold;
        }
    } //.user-order-item__articul

    &__price {
        font-family: $f2-bold;
        font-size: 15px;

        span:not(.user-order-item__count) {
            font-family: $f;
        }
    } //.user-order-item__price

    &__count {
        font-family: $f2-bold;

        span {
            font-family: $f;
        }
    } //.user-order-item__count

    &__sum {
        font-family: $f2-bold;
        font-size: 15px;

        span {
            font-family: $f;
            font-size: 14px;
        }
    } //.user-order-item__sum
} //.user-order-item
