.password {
	&__inner {
		margin-top: $gutter * 2.5;
	}
	&__form {
		max-width: 425px;
		margin: auto;
	}

	.form-success {
		z-index: z(absolute);

		&__title {
			font-family: $f-light;
			font-size: 23px;
			line-height: 1.4;
		}
	}
} //.password
