<!-- begin card__related -->
<div class="card__related related">
	<div class="section-header">
		<h2 class="h2">С этим товаром покупают</h2>
	</div>

	<div class="tab tab--devider js-card-tab-related">
		<div class="tab__titles_wrap">
			<ul class="tab__titles">
				<li class="tab__title js-related-tab">
					<a class="tab__link" href="#related-tabs-1">
						<span class="tab__icon_wrap">
							{{ mixin.icon('cloth', 'tab__icon') }}
						</span>
						<span class="tab__text">Ткани</span>
					</a>
				</li>
				<li class="tab__title js-related-tab">
					<a class="tab__link" href="#related-tabs-2">
						<span class="tab__icon_wrap">
							<img class="tab__icon tab__icon--static" src="img/general/thread.svg" alt="Нитки">
							<img class="tab__icon tab__icon--hover" src="img/general/thread--hover.svg" alt="Нитки">
							<!-- <i class="icon-thread tab__icon"></i> -->
						</span>
						<span class="tab__text">Нитки</span>
					</a>
				</li>
				<li class="tab__title js-related-tab">
					<a class="tab__link" href="#related-tabs-3">
						<span class="tab__icon_wrap">{{mixin.icon('button', 'tab__icon')}}</span>
						<span class="tab__text">Пуговицы <br>и кнопки</span>
					</a>
				</li>
				<li class="tab__title js-related-tab">
					<a class="tab__link" href="#related-tabs-4">
						<span class="tab__icon_wrap">{{mixin.icon('zipper', 'tab__icon')}}</span>
						<span class="tab__text">Молнии</span>
					</a>
				</li>
				<li class="tab__title js-related-tab">
					<a class="tab__link" href="#related-tabs-5">
						<span class="tab__icon_wrap">
							<img class="tab__icon tab__icon--static" src="img/general/elastic.svg" alt="Резинки">
							<img class="tab__icon tab__icon--hover" src="img/general/elastic--hover.svg" alt="Резинки">
						</span>
						<span class="tab__text">Резинки</span>
					</a>
				</li>
				<li class="tab__title js-related-tab">
					<a class="tab__link" href="#related-tabs-6">
						<span class="tab__icon_wrap">{{mixin.icon('tapes', 'tab__icon')}}</span>
						<span class="tab__text">Ленты <br> отделочные</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="tab__contentes">
			{% for i in range(1, 6) %}
			<div id="related-tabs-{{ i }}">
				{% include "partials/_card-tab-slider.html" %}
			</div>
			{% endfor %}
		</div>
	</div>

</div><!-- end card__related -->
