<!-- begin card__wrap -->
<div
	class="card__wrap"
	itemscope
	itemtype="http://schema.org/Product"
>
	<!-- begin card__image -->
	<div class="card__image">
		<div class="bz-slider bz-slider--card">
			<div class="swiper-container js-bz-slider-card">
				<div class="swiper-wrapper bz-slider__slides">
					{% for i in range(0, 4) %}
					<div
						class="swiper-slide"
						itemscope
						itemtype="https://schema.org/ImageObject"
					>
						<img
							src="img/products/BlusenstoffMillefleurs/600x600/{{ i }}.jpg"
							alt="Атлас дюпон «izumrud»"
							itemprop="url contentUrl">
						<meta
							itemprop="name"
							content="здесь полное описание вплоть до артикула">
					</div>
					{% endfor %}
				</div>
				<div class="swiper-button-next swiper-button-white bz-slider__arrow">
					{{ mixin.icon('angle') }}
				</div>
				<div class="swiper-button-prev swiper-button-white bz-slider__arrow">
					{{ mixin.icon('angle') }}
				</div>
			</div>
			<div class="swiper-container gallery-thumbs js-bz-slider-card--thumbs">
				<div class="swiper-wrapper">
					{% for i in range(4, 8) %}
					<div
						class="swiper-slide"
						style="background-image:url(img/products/BlusenstoffMillefleurs/128x128/{{ i }}.jpg)">
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div><!-- end card__image -->

	<!-- begin card__desc -->
	<div class="card__desc">
		<h1
			class="h1 product-item__title card__title"
			itemprop="name"
		>
			Косая бейка "Серый нейтральный"
		</h1>

		<div class="card__price">340,00 <span>руб/м</span><small>-15%</small></div>

		{% include "partials/_item-select.html" %}

		<div class="button-box">
			<button class="button button--yellow card__btn card__btn--cart is-checked" onclick="pushUp();">
				Добавить в корзину
				<span></span>
				<span title="убрать из корзины"></span>
			</button>

			<div tooltip="в избранное">
				<button class="button-icon button-icon--fav js-button-icon--fav card__btn card__btn--fav"></button>
			</div>

			<span class="card__order-info">В корзине <span>5</span> метров — <span>1694,90 </span>руб.</span>
		</div>

		<!-- begin card__info -->
		<div class="card__info">

			<div class="tab tab--transform js-tab js-tab--transform">
				<div class="tab__wrap">
					<div class="tab__titles">
						<div class="tab__title is-active" data-tab="0">Характеристики</div>
						<div class="tab__title" data-tab="1">Описание</div>
					</div>
					<div class="tab__contentes">
						<div class="tab__content" data-tab-content="0" style="display: block;">

							<div class="bz-table bz-table--dot">
								<ul class="bz-table__list">
									{% import "data/data.html" as productDesc %}
									{% for item in productDesc.productDesc %}
									<li class="bz-table__item">
										<span class="bz-table__subitem"><span>{{ item.title }}</span></span>
										<a class="bz-table__subitem" href="#">{{ item.desc }}</a>
									</li>
									{% endfor %}
								</ul>
							</div>

						</div>

						<div class="tab__content" data-tab-content="1">

							<p>Плотная ткань с гладкокрашенной отделкой. Лицевая сторона гладкая, с мягким атласным блеском. Изнаночная - матовая, с зернистой поверхностью. Материал прочный, эластичный, хорошо драпирующийся. Атлас широко применяется для изготовления праздничных и концертных нарядов, свадебных платьев.</p>

						</div>
					</div>
				</div>
			</div>

		</div><!-- end card__info -->

	</div><!-- end card__desc -->
</div><!-- end card__wrap -->
