<!-- begin card__wrap -->
<div
	class="card__wrap"
	itemscope
	itemtype="http://schema.org/Product"
>
	<!-- begin card__image -->
	<div class="card__image">

		<div class="bz-slider bz-slider--card js-bz-slider-card">
			<div class="bz-slider__slides bz-slider__slides--thumbs js-bz-slider-thumbs">
				{% for i in range(2, 8) %}
				<div class="bz-slider__slide" itemscope itemtype="https://schema.org/ImageObject">
					<img src="img/products/BlusenstoffMillefleurs/128x128/{{ i }}.jpg" alt=""/>
				</div>
				{% endfor %}
			</div>
			<div class="bz-slider__slides bz-slider__slides--gallery js-bz-slider-gallery">
				{% for i in range(0, 4) %}
				<div
					class="bz-slider__slide"
					itemscope
					itemtype="https://schema.org/ImageObject"
				>
					<img
						data-lazy="img/products/BlusenstoffMillefleurs/600x600/{{ i }}.jpg"
						alt="Атлас дюпон «izumrud»"
						itemprop="url contentUrl"/>
					<meta
						itemprop="name"
						content="здесь полное описание вплоть до артикула">
				</div>
				{% endfor %}
			</div>
			<button class="button-icon button-icon--fav js-button-icon--fav product-item__fav"></button>
		</div>

		<div class="bz-slider bz-slider--colors">
			<div class="swiper-container js-bz-slider-color">
				<div class="swiper-wrapper">
					{% for i in range(0, 10) %}
					<a class="swiper-slide" href="card.html">
						<img
							class="swiper-lazy"
							data-src="img/products/BlusenstoffMillefleurs/128x128/1.jpg"
							src="img/general/loading.gif"
							alt="">
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="swiper-button-prev swiper-button-white bz-slider__arrow bz-slider__arrow--prev">
				{{ mixin.icon('angle') }}
			</div>
			<div class="swiper-button-next swiper-button-white bz-slider__arrow bz-slider__arrow--next">
				{{ mixin.icon('angle') }}
			</div>
		</div>
	</div><!-- end card__image -->

	<!-- begin card__desc -->
	<div class="card__desc">

		<div class="card__price">340,00 <span>руб/м</span><small>-15%</small></div>

		{% include "partials/_item-select.html" %}

		<div class="button-box button-box--column">
			<button class="button button--yellow card__btn card__btn--cart is-checked" onclick="pushUp();">
				Добавить в корзину
				<span></span>
				<span title="убрать из корзины"></span>
			</button>

			<span class="card__order-info">В корзине <span>5</span> метров — <span>1694,90 </span>руб.</span>
		</div>

		<!-- begin card__info -->
		<div class="card__info">

			<div class="tab tab--transform js-tab js-tab--transform">
				<div class="tab__titles">
					<div class="tab__title is-active" data-tab="0">Цена</div>
					<div class="tab__title" data-tab="1">Характеристики</div>
					<div class="tab__title" data-tab="2">Описание</div>
				</div>
				<div class="tab__contentes">
					<div class="tab__content" data-tab-content="0" style="display: block;">

						<div class="item-select--free item-select--count">
							<div class="item-select__list">
								<div class="item-select__item item-select__item--header js-item-select-item">
									<span class="item-select__title">Метраж:</span>
									<span class="item-select__subtitle">Цена за метр:</span>
								</div>
								<div class="item-select__item js-item-select-item">
									<span class="item-select__title">1 м</span>
									<span class="item-select__subtitle">340,00 руб.</span>
								</div>
								<div class="item-select__item js-item-select-item">
									<div class="item-select__title_wrap">
										<span class="item-select__title">15 м </span>
										<span class="item-select__title_desc">(рулон)</span>
									</div>
									<span class="item-select__subtitle">4 335,00 руб. <span>-15%</span></span>
								</div>
								<div class="item-select__item js-item-select-item">
									<div class="item-select__title_wrap">
										<span class="item-select__title">150 м</span>
										<span class="item-select__title_desc">(10 рулонов)</span>
									</div>
									<span class="item-select__subtitle">38 250,00 руб. <span>-25%</span></span>
								</div>
							</div>
						</div>

					</div>

					<div class="tab__content" data-tab-content="1" data-simplebar>

						<div class="bz-table bz-table--dot">
							<ul class="bz-table__list">
								{% import "data/data.html" as productDesc %}
								{% for item in productDesc.productDesc %}
								<li class="bz-table__item">
									<span class="bz-table__subitem"><span>{{ item.title }}</span></span>
									<a class="bz-table__subitem" href="#">{{ item.desc }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>

					</div>

					<div
						class="tab__content"
						data-tab-content="2"
						data-simplebar
					>

						<p>Плотная ткань с гладкокрашенной отделкой. Лицевая сторона гладкая, с мягким атласным блеском. Изнаночная - матовая, с зернистой поверхностью. Материал прочный, эластичный, хорошо драпирующийся. Атлас широко применяется для изготовления праздничных и концертных нарядов, свадебных платьев.</p>

						<p>Плотная ткань с гладкокрашенной отделкой. Лицевая сторона гладкая, с мягким атласным блеском. Изнаночная - матовая, с зернистой поверхностью. Материал прочный, эластичный, хорошо драпирующийся. Атлас широко применяется для изготовления праздничных и концертных нарядов, свадебных платьев.</p>

						<p>Плотная ткань с гладкокрашенной отделкой. Лицевая сторона гладкая, с мягким атласным блеском. Изнаночная - матовая, с зернистой поверхностью. Материал прочный, эластичный, хорошо драпирующийся. Атлас широко применяется для изготовления праздничных и концертных нарядов, свадебных платьев.</p>

					</div>
				</div>
			</div>

		</div><!-- end card__info -->

	</div><!-- end card__desc -->
</div><!-- end card__wrap -->
