{% import "data/data-product.html" as qwe %}
<!-- begin catalog-filter -->
<div class="catalog-filter catalog__filter js-catalog-filter js-stiky">
	<div class="catalog-filter__inner stiky-inner">
		<div class="catalog-filter__in">
			<div class="catalog-filter__header">
				<div class="catalog-filter__title">Фильтр</div>
				{{item.btn('Сбросить', 'button button--link')}}
			</div>
			<div class="catalog-filter__body accordeon accordeon--other js-accordeon">

				<div class="catalog-filter__item js-catalog-filter-item accordeon__item is-open">
					<div class="catalog-filter__subtitle accordeon__title">Цвет</div>
					<div class="catalog-filter__content accordeon__content js-scroll">
						{% for i in range(0, 2) %}
						{% for item in qwe.product %}
						<div class="catalog-filter__subitem">
							<label class="checkbox checkbox--transform js-checkbox">
								<input type="checkbox">
								<span class="checkbox__box"></span>
								<span class="checkbox__title">{{ item.colorText }}</span>
							</label>
							<span
								class="catalog-filter__color"
								data-filter-color="{{ item.color }}"
							></span>
						</div>
						{% endfor %}
						{% endfor %}
					</div>
				</div>

				<div class="catalog-filter__item js-catalog-filter-item accordeon__item is-open">
					<div class="catalog-filter__subtitle accordeon__title">Плотность ткани</div>
					<div class="catalog-filter__content accordeon__content js-scroll">
						{% for i in range(0, 2) %}
						{% for item in qwe.product %}
						<div class="catalog-filter__subitem">
							<label class="checkbox checkbox--transform js-checkbox">
								<input type="checkbox">
								<span class="checkbox__box"></span>
								<span class="checkbox__title">{{ item.closeness }}</span>
							</label>
						</div>
						{% endfor %}
						{% endfor %}
					</div>
				</div>

				<div class="catalog-filter__item js-catalog-filter-item accordeon__item is-open">
					<div class="catalog-filter__subtitle accordeon__title">Цена</div>
					<div class="catalog-filter__content accordeon__content">
						<div class="catalog-filter__item_price js-catalog-filter-item-price">
							<div class="catalog-filter__range range">
								<div class="range__slider" id="js-catalog-filter-slider" data-end="680" data-start="350"></div>
							</div>
							<div class="range__diapazon">
								<div class="range__from">
									<input id="jsPriceStart">
									<i class="fal-rub"></i>
								</div>
								<div class="range__to">
									<input id="jsPriceEnd">
									<i class="fal-rub"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="catalog-filter__item js-catalog-filter-item accordeon__item is-open">
					<div class="catalog-filter__subtitle accordeon__title">Производитель</div>
					<div class="catalog-filter__content accordeon__content js-scroll">
						{% for i in range(0, 2) %}
						{% for item in qwe.product %}
						<div class="catalog-filter__subitem">
							<label class="checkbox checkbox--transform js-checkbox">
								<input type="checkbox">
								<span class="checkbox__box"></span>
								<span class="checkbox__title">{{ item.fabricator }}</span>
							</label>
						</div>
						{% endfor %}
						{% endfor %}
					</div>
				</div>

			</div>
			<div class="catalog-filter__footer">
				<a class="catalog-filter__btn catalog-filter__btn--close js-catalog-filter--hide" href="javascript:void(0)">Закрыть</a>
				<a class="catalog-filter__btn catalog-filter__btn--aply js-catalog-filter--hide" href="javascript:void(0)">Применить</a>
			</div>
		</div>

		<!-- begin catalog-filter__cloth -->
		<div class="catalog-filter__cloth cloth">
			<h3 class="h3 cloth__title">Тип ткани</h3>
			<div class="cloth__item">
				<a class="cloth__subtitle" href="#">Атлас
					<span class="cloth__count">1100</span>
				</a>
				<ul>
					<li>
						<a href="#">Дюпон</a>
					</li>
					<li>
						<a href="#">Матовый</a>
					</li>
					<li>
						<a href="#">Тонкий</a>
					</li>
					<li>
						<a href="#">Стрейч</a>
					</li>
				</ul>
			</div>
			<div class="cloth__item">
				<a class="cloth__subtitle" href="#">Бархат
					<span class="cloth__count">800</span>
				</a>
				<ul>
					<li>
						<a href="#">Стрейч</a>
					</li>
				</ul>
			</div>
		</div><!-- end catalog-filter__cloth -->
	</div>
</div><!-- end catalog-filter -->
