<!-- begin footer -->
<footer class="footer js-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="container">
		<div class="footer__in">

			<div class="footer-item">
				<h4 class="h4 footer-item__title">Контакты</h4>
				<div class="footer-item__content">
					<ul class="footer-item__list">
						<li class="footer-item__el">
							<i class="fal fa-phone footer-item__icon"></i>
							<a href="tel:88007078630" class="footer-item__link phone" itemprop="telephone">
								8 800 707-86-30
								<span class="phone__desc">звонок бесплатный</span>
							</a>
						</li>
						<li class="footer-item__el">
							<i class="fal fa-envelope footer-item__icon"></i>
							<a href="mailto:info@yandex.ru" class="footer-item__link" itemprop="email">info@yandex.ru</a>
						</li>
						<li class="footer-item__el" itemprop="address" content="адрес">
							<i class="fal fa-map-marker-alt footer-item__icon"></i>
							г.Москва, ул.Чехова, 55
						</li>
					</ul>
				</div>
			</div>

			<div class="footer-item">
				<h4 class="h4 footer-item__title">Каталог товаров</h4>
				<div class="footer-item__content">
					<ul class="footer-item__list">
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Ткани</a>
						</li>
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Швейная фурнитура</a>
						</li>
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Остатки тканей</a>
						</li>
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Распродажа</a>
						</li>
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Новинки</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="footer-item">
				<h4 class="h4 footer-item__title">Клиентам и партнерам</h4>
				<div class="footer-item__content">
					<ul class="footer-item__list">
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Доставка и оплата</a>
						</li>
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Условия заказа</a>
						</li>
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Поставщикам</a>
						</li>
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Политика конфиденциальности</a>
						</li>
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Новинки</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="footer-item">
				<h4 class="h4 footer-item__title">Bazaar-tex</h4>
				<div class="footer-item__content">
					<ul class="footer-item__list">
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">О нас</a>
						</li>
						<li class="footer-item__el">
							<a href="#" class="footer-item__link">Контакты</a>
						</li>
					</ul>

					<div class="footer__social">
						{% include "partials/components/_social.html" %}
					</div>

				</div>
			</div>

		</div>
	</div>
</footer><!-- end footer -->
