{% import "assets/_mixins.html" as mixin %}

<!--
<div class="dropdown js-dropdown">
	наведи сюда
	<div class="dropdown__list">это появится</div>
</div>
-->

{% macro btn(title, class) %}
<button class="button {{ class }}">{{ title }}</button>
{% endmacro %}
<!-- item.btn('Купить', 'button--transparent') -->

{% macro btnLink(title, class, href="#") %}
<a {{ href }} class="button {{ class }}">{{ title }}</a>
{% endmacro %}
<!-- item.btn('Купить', 'button--transparent') -->

{% macro checkbox(title, type, class, checked) %}
<label class="checkbox {{ class }} {% if checked %}is-checked{% endif %}">
	<input type="{{ type | escape }}" {% if checked %}checked{% endif %}>
	<span class="checkbox__box"></span>
	{% if title %}<span class="checkbox__title">{{ title }}</span>{% endif %}
</label>
{% endmacro %}
<!-- item.checkbox('мужской', 'checkbox--radio, profile-editor__checkbox') -->

{% macro radio(title, name, subtitle, class, subtitleColor) %}
<label class="checkbox checkbox--radio {{class}}">
	<input type="radio" name="{{ name | escape }}">
	<span class="checkbox__box"></span>
	{% if title %}<span class="checkbox__title">{{ title }}</span>{% endif %}
	{% if subtitle %}<div class="checkbox__subtitle {% if subtitleColor %}text-color--{{ subtitleColor }}{% endif %}">{{ subtitle }}</div>{% endif %}
</label>
{% endmacro %}
<!-- item.checkbox('мужской', 'checkbox--radio, profile-editor__checkbox') -->

{% macro button(title, class) %}
<button class="button-animate js-btn-animate {{class}}">
	{{title}}
	<span class="button-animate__hover"></span>
</button>
{% endmacro %}
<!-- item.button('Пригласить', 'invite__btn') -->
