<!-- begin lk__sidebar -->
<sidebar class="lk__sidebar js-stiky-block">
	<nav class="lk-nav lk__nav stiky-block__inner">
		<ul class="lk-nav__list">
			<li class="lk-nav__item">
				<a href="lk-order.html" class="lk-nav__link lk-nav__link--order">
					Заказы
				</a>
			</li>
			<li class="lk-nav__item">
				<a href="lk-favorits.html" class="lk-nav__link lk-nav__link--fav">
					Избранное
				</a>
			</li>
			<li class="lk-nav__item">
				<a href="lk-data.html" class="lk-nav__link lk-nav__link--data">
					Личные данные
				</a>
			</li>
			<li class="lk-nav__item">
				<a href="javascript:void(0)" data-toggle="modal" class="lk-nav__link lk-nav__link--exit">
					Выйти
				</a>
			</li>
		</ul>
	</nav>
</sidebar><!-- end lk__sidebar -->
