<!-- begin auth-form -->
<div class="modal fade" id="auth-form">
	<div class="modal-dialog modal-dialog--sm" role="document">
		<div class="modal-content">
			<button class="close modal__btn modal__btn--close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="form">
					<div class="form__header">
						<div class="form__title">Вход или регистрация</div>
					</div>

					<div class="form__inner">
						<form class="auth-form">
							<div class="input input--email form__input">
								<input type='email' class="input__field" placeholder="Введите e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
								<span class="input__error">*Какая-то ошибочка вышла</span>
							</div>

							<div class="input input--password form__input">
								<input type='password' class="input__field" placeholder="Введите пароль">
								<i class="input__icon fal fa-eye-slash js-input-password--show"></i>
								<i class="input__icon fal fa-eye js-input-password--hide" style="display: none;"></i>
								<span class="input__error">*Какая-то ошибочка вышла</span>
							</div>

							<div class="form__box">
								{{item.checkbox('Запомнить меня' ,'auth-form__rememberme')}}
								<a href="recover-password.html" class="form__link form__link--recover">Забыли пароль?</a>
							</div>

							<div class="form__buttons">
								{{item.btn('Войти', 'button--default form__btn')}}
							</div>

							<div class="section-header form__devider">
								<span class="section-header__text">или войдите через</span>
							</div>

							{% include "components/_social.html" %}

							<div class="form-success">
								<div class="form-success__center">
									<h3 class="form-success__title">Спасибо за регистрацию!</h3>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end auth-form -->

<!-- begin change-city -->
<div class="modal fade change-city" id="change-city">
	<div class="modal-dialog modal-dialog--md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Выберите город</h5>
				<button class="close modal__btn modal__btn--close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="change-city__title">Россия</div>
				<div class="change-city__in">
					<ul class="change-city__list">
						{% import "data/data.html" as cities %} {% for item in cities.cityList %}
						<li class="change-city__item">{{ item.city }}</li>
						{% endfor %}
					</ul>
				</div>
				<ul class="change-city__list change-city__list_country">
					<li class="change-city__item change-city__item--belarus">Белоруссия</li>
					<li class="change-city__item change-city__item--ukraine">Украина</li>
					<li class="change-city__item change-city__item--kaz">Казахстан</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end change-city -->
