<!-- begin breadcrumbs -->
<div class="breadcrumbs">
	<ul class="breadcrumbs__list"
		itemscope
		itemtype="http://schema.org/BreadcrumbList"
	>
		<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a class="breadcrumbs__link" href="/" itemprop="item" rel="home">
				<span class="breadcrumbs__title" itemprop="name">Главная</span>
			</a>
		</li>
		<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a class="breadcrumbs__link" href="catalog.html" itemprop="item">
				<span class="breadcrumbs__title" itemprop="name">Ткани</span>
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a class="breadcrumbs__link" href="catalog.html" itemprop="item">
				<span class="breadcrumbs__title" itemprop="name">Атлас</span>
			</a>
		</li>
		<li class="breadcrumbs__item">
			<span class="breadcrumbs__title" itemprop="name">Дюпон</span>
		</li>
	</ul>
</div>
<!-- end breadcrumbs -->
