<!-- begin pagination -->
<div class="pagination pagination--right">
	{% if paginationTitle %}
		<span class="pagination__title">страница 2 из 88</span>
	{% endif %}
	<ul class="pagination__list js-toggle-list">
		<li class="pagination__item">
			<a class="pagination__link" href="#">
				<i class="fal fa-angle-left pagination__icon"></i>
			</a>
		</li>
		{% for i in range(1, 5) %}
		<li class="pagination__item">
			<a class="pagination__link" href="#">{{ i }}</a>
		</li>
		{% endfor %}
		<li class="pagination__item">
			<a class="pagination__link" href="#">...</a>
		</li>
		<li class="pagination__item is-active">
			<a class="pagination__link" href="#">88</a>
		</li>
		<li class="pagination__item">
			<a class="pagination__link" href="#">
				<i class="fal fa-angle-right pagination__icon"></i>
			</a>
		</li>
	</ul>
</div><!-- end pagination -->
