{% set
dayOfWeek = [
	{
		title: 'Пн',
		time: '9:00 - 19:00'
	},
	{
		title: 'Вт',
		time: '9:30 - 18:30'
	},
	{
		title: 'Ср',
		time: '8:30 - 20:00'
	},
	{
		title: 'Чт',
		time: '10:30 - 19:00'
	},
	{
		title: 'Пт',
		time: '9:00 - 18:00'
	},
	{
		title: 'Сб',
		time: '10:00 - 17:00'
	},
	{
		title: 'Вс',
		time: 'Выходной',
		class: 'is-holiday'
	}
]
%}

{% set
productDesc = [
	{
		title: 'Состав',
		desc: '100% п/э'
	},
	{
		title: 'Плотность',
		desc: '120 гр/м.кв'
	},
	{
		title: 'Ширина',
		desc: '1.5 м'
	},
	{
		title: 'Цвет',
		desc: 'коричневый'
	},
	{
		title: 'Производитель',
		desc: 'Турция'
	},
	{
		title: 'Отпускается',
		desc: 'от 1 м'
	},
	{
		title: 'Кол-во метров в рулоне',
		desc: '25'
	},
	{
		title: 'Артикул',
		desc: 'ас06'
	}
]
%}

{% set
mainMenu = [
	{
		text: 'Новинки',
		icon: 'new',
		isActive: true
	},
	{
		text: 'Ткани',
		icon: 'cloth',
		accordeon: true,
		liClass: true,
		dropdown: [
			{
				title: 'Еврофатин luxe'
			}
			,{
				title: 'Еврофатин life'
			}
			,{
				title: 'Средней жесткости'
			}
			,{
				title: 'Матовый'
			}
			,{
				title: 'Набивной'
			}
		]
	},
	{
		text: 'Швейная фурнитура',
		icon: 'furniture'
	},
	{
		text: 'Пряжа',
		icon: '20'
	},
	{
		text: 'Остатки тканей',
		icon: 'leavings'
	},
	{
		text: 'Распродажа',
		icon: 'sale'
	}
]
%}

{% set
cityList = [
	{
		city: 'Ангарск'
	},
	{
		city: 'Астрахань'
	},
	{
		city: 'Барнаул'
	},
	{
		city: 'Белгород'
	},
	{
		city: 'Бийск'
	},
	{
		city: 'Благовещенск'
	},
	{
		city: 'Братск'
	},
	{
		city: 'Великий Новгород'
	},
	{
		city: 'Владивосток'
	},
	{
		city: 'Волгоград'
	},
	{
		city: 'Воронеж'
	},
	{
		city: 'Дзержинск'
	},
	{
		city: 'Екатеринбург'
	},
	{
		city: 'Ижевск'
	},
	{
		city: 'Иркутск'
	},
	{
		city: 'Казань'
	},
	{
		city: 'Кемерово'
	},
	{
		city: 'Киров'
	},
	{
		city: 'Краснодар'
	},
	{
		city: 'Красноярск'
	},
	{
		city: 'Курган'
	},
	{
		city: 'Кызыл'
	},
	{
		city: 'Набережные Челны'
	},
	{
		city: 'Нальчик'
	},
	{
		city: 'Нижнекамск'
	},
	{
		city: 'Нижний Новгород'
	},
	{
		city: 'Новокузнецк'
	},
	{
		city: 'Омск'
	},
	{
		city: 'Оренбург'
	},
	{
		city: 'Орск'
	},
	{
		city: 'Пенза'
	},
	{
		city: 'Пермь'
	},
	{
		city: 'Прокопьевск'
	},
	{
		city: 'Псков'
	},
	{
		city: 'Ростов-на-Дону'
	},
	{
		city: 'Рязань'
	},
	{
		city: 'Салехард'
	},
	{
		city: 'Самара'
	},
	{
		city: 'Саратов'
	},
	{
		city: 'Симферополь'
	},
	{
		city: 'Старый Оскол'
	},
	{
		city: 'Тольятти'
	},
	{
		city: 'Томск'
	},
	{
		city: 'Тюмень'
	},
	{
		city: 'Ульяновск'
	},
	{
		city: 'Уфа'
	},
	{
		city: 'Хабаровск'
	},
	{
		city: 'Ханты-Мансийск'
	},
	{
		city: 'Челябинск'
	},
	{
		city: 'Чита'
	},
	{
		city: 'Шахты'
	},
	{
		city: 'Энгельс'
	},
	{
		city: 'Якутск'
	},
	{
		city: 'Ярославль'
	}
]
%}

{% set
month = [
	{
		title: 'Январь'
	},
	{
		title: 'Февраль'
	},
	{
		title: 'Март'
	},
	{
		title: 'Апрель'
	},
	{
		title: 'Май'
	},
	{
		title: 'Июнь'
	},
	{
		title: 'Июль'
	},
	{
		title: 'Август'
	},
	{
		title: 'Сентябрь'
	},
	{
		title: 'Октябрь'
	},
	{
		title: 'Ноябрь'
	},
	{
		title: 'Декабрь'
	}
]
%}

{% set
	reviews = [
		{
			author: 'Елена',
			date: '14 марта 2019',
			text: 'Заказ №10056953. Ткани очень красивые, хорошее качество. Заказывала молочную вуаль и светло-розовый шифон. Правда, оттенок шифона на фото был несколько холоднее, но для меня это не имеет большой важности. И доставка почтой России в Новосибирск за 9 дней! Спасибо)'
		},
		{
			author: 'аЛИСА нИКОЛАЕВНА',
			date: '13 марта 2019',
			text: 'Не первый раз делаю заказы в этом магазине и очень довольна всегда. Товар качественный и высокий уровень оперативного быстрого обслуживания. Спасибо большое владельцам магазина и желаю вам удачи всегда!'
		},
		{
			author: 'Ольга',
			date: '13 марта 2019',
			text: 'Не первый раз делаю заказы в этом магазине и очень довольна всегда. Товар качественный и высокий уровень оперативного быстрого обслуживания. Спасибо большое владельцам магазина и желаю вам удачи всегда!'
		}
	]
	%}
