<!-- begin nav-main -->
<nav class="nav-main js-nav-main">
	<div class="nav-main__top-line">
		<div class="city nav-main__city">
			<a href="#change-city" data-toggle="modal" class="city__link">Санкт-Петербург</a>
		</div>

		<a href="tel:8 800 707-86-30" class="phone nav-main__phone" itemprop="telephone">8 800 707-86-30</a>
	</div>

	<!-- begin hamburger -->
	<div class="nav-main__btn--close">
		<button class="hamburger js-hamburger"><span></span></button>
		<span>меню</span>
	</div><!-- end hamburger -->

	<ul
		class="nav-main__list"
		data-accordeon
	>

		<li class="nav-main__item nav-main__item--lk xs-only" style="display: none;">
			<a
				href="#auth-form"
				data-toggle="modal"
				class="nav-main__link bg-color--accent"
			>
				<i class="fal fa-user nav-main__icon"></i>
				<span class="nav-main__text">Войти / Зарегистрироваться</span>
			</a>
		</li>

		<li class="nav-main__item nav-main__item--lk xs-only" data-accordeon-item>
			<a href="#" class="nav-main__link bg-color--accent" data-accordeon-title>
				<i class="fal fa-user nav-main__icon"></i>
				<span class="nav-main__text">Личный кабинет</span>
			</a>
			<ul class="nav-dropdown nav-main__dropdown" data-accordeon-content>
				<div class="nav-dropdown__items">
					<div class="nav-dropdown__columns">
						<li class="nav-dropdown__item">
							<a href="#" class="nav-dropdown__title nav-dropdown__title--order">Заказы</a>
						</li>
						<li class="nav-dropdown__item">
							<a href="#" class="nav-dropdown__title nav-dropdown__title--fav">Избранное</a>
						</li>
						<li class="nav-dropdown__item">
							<a href="#" class="nav-dropdown__title nav-dropdown__title--data">Личные данные</a>
						</li>
						<li class="nav-dropdown__item">
							<a href="#" class="nav-dropdown__title nav-dropdown__title--exit">Выйти</a>
						</li>
					</div>
				</div>
			</ul>
		</li>

		{% import "data/data.html" as mainMenu %}
		{% for item in mainMenu.mainMenu %}
		<li
			class="nav-main__item {% if item.isActive %}is-active{% endif %} {% if item.liClass %}nav-main__item--dropdown{% endif %}"
			{% if item.accordeon %}data-accordeon-item{% endif %}
		>
			<a
				href="javascript:void(0);"
				class="nav-main__link"
				{% if item.accordeon %}data-accordeon-title{% endif %}
			>
				<svg class="icon icon-{{ item.icon }} nav-main__icon">
					<use xlink:href="img/sprite.svg#{{ item.icon }}"></use>
				</svg>
				<span class="nav-main__text">{{ item.text }}</span>
				<!-- <i class="fal fa-angle-right"></i> -->
			</a>
			{% if item.dropdown %}
				<ul
					class="nav-dropdown nav-main__dropdown"
					{% if item.accordeon %}data-accordeon-content{% endif %}
				>
					<div class="nav-dropdown__items">
						<div class="nav-dropdown__columns" data-accordeon>
							<!-- <li class="nav-dropdown__item nav-dropdown__item--link">
								<a href="javascript:void(0);" class="nav-dropdown__title nav-dropdown__title--link js-main-nav-link--forward">Назад</a>
							</li> -->
							{% for i in range(0, 3) %}
							<li class="nav-dropdown__item" data-accordeon-item>
								<a
									href="javascript:void(0);"
									class="nav-dropdown__title"
									data-accordeon-title
								>Атлас</a>
								<ul class="nav-dropdown--sub" data-accordeon-content>
									{% for dropdown in item.dropdown %}
									<li><a href="#">{{ dropdown.title }}</a></li>
									{% endfor %}
								</ul>
							</li>
							{% endfor %}
						</div>
					</div>
				</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>

	<ul class="nav-main__list nav-main__list--sub">
		<li class="nav-main__item"><a href="#" class="nav-main__link">О нас</a></li>
		<li class="nav-main__item"><a href="#" class="nav-main__link">Условия оплаты</a></li>
		<li class="nav-main__item"><a href="#" class="nav-main__link">Условия доставки</a></li>
		<li class="nav-main__item"><a href="#" class="nav-main__link">Контакты</a></li>
	</ul>
</nav><!-- end nav-main -->
