<!-- begin nav-main -->
<nav class="nav-main js-nav-main">
	<div class="nav-main__top-line">
		<div class="city nav-main__city">
			<a href="#change-city" data-toggle="modal" class="city__link">Санкт-Петербург</a>
		</div>

		<a href="tel:8 800 707-86-30" class="phone nav-main__phone" itemprop="telephone">8 800 707-86-30</a>
	</div>

	<!-- begin hamburger -->
	<div class="nav-main__btn--close"><button class="hamburger js-hamburger"><span></span></button></div><!-- end hamburger -->

	<ul class="nav-main__list">

		<li class="nav-main__item nav-main__item--lk xs-only" style="display: none;">
			<a href="#auth-form" data-toggle="modal" class="nav-main__link">
				<i class="fal fa-user nav-main__icon"></i>
				<span class="nav-main__text">Войти / Зарегистрироваться</span>
			</a>
		</li>

		<li class="nav-main__item nav-main__item--lk xs-only">
			<a href="#" class="nav-main__link js-main-nav-link--forward">
				<i class="fal fa-user nav-main__icon"></i>
				<span class="nav-main__text">Личный кабинет</span>
				<i class="fal fa-angle-right"></i>
			</a>
			<ul class="nav-dropdown nav-main__dropdown">
				<div class="nav-dropdown__items">
					<div class="nav-dropdown__columns">
						<li class="nav-dropdown__item">
							<a href="javascript:void(0);" class="nav-dropdown__title nav-dropdown__title--back js-main-nav-link--forward">Назад</a>
						</li>
						<li class="nav-dropdown__item">
							<a href="#" class="nav-dropdown__title nav-dropdown__title--order">Заказы</a>
						</li>
						<li class="nav-dropdown__item">
							<a href="#" class="nav-dropdown__title nav-dropdown__title--fav">Избранное</a>
						</li>
						<li class="nav-dropdown__item">
							<a href="#" class="nav-dropdown__title nav-dropdown__title--data">Личные данные</a>
						</li>
						<li class="nav-dropdown__item">
							<a href="#" class="nav-dropdown__title nav-dropdown__title--exit">Выйти</a>
						</li>
					</div>
				</div>
			</ul>
		</li>

		{% import "data/data.html" as mainMain %}
		{% for item in mainMain.mainMenu %}
		<li class="nav-main__item {{ item.class }}{{ item.active }}">
			<a href="#" class="nav-main__link js-main-nav-link--forward">
				<svg class="icon icon-{{ item.icon }} nav-main__icon">
					<use xlink:href="img/sprite.svg#{{ item.icon }}"></use>
				</svg>
				<span class="nav-main__text">{{ item.text }}</span>
				<i class="fal fa-angle-right"></i>
			</a>
			<ul class="nav-dropdown nav-main__dropdown">
				<div class="nav-dropdown__items">
					<div class="nav-dropdown__columns">
						<li class="nav-dropdown__item">
							<a href="javascript:void(0);" class="nav-dropdown__title nav-dropdown__title--link js-main-nav-link--forward">Назад</a>
						</li>
						{% for i in range(0, 9) %}
						<li class="nav-dropdown__item">
							<a href="#" class="nav-dropdown__title js-main-nav-link--forward">Атлас</a>
							<ul class="nav-dropdown--sub">
								<li><a href="#">Еврофатин luxe</a></li>
								<li><a href="#">Еврофатин life</a></li>
								<li><a href="#">Средней жесткости</a></li>
								<li><a href="#">Матовый</a></li>
								<li><a href="#">Набивной</a></li>
								<li><a href="#">Стрейч-фатин</a></li>
								<li><a href="#">Свадебный</a></li>
								<li><a href="#">Для вышевки</a></li>
							</ul>
						</li>
						{% endfor %}﻿
					</div>
				</div>
			</ul>
		</li>
		{% endfor %}
	</ul>

	<ul class="nav-main__list nav-main__list--sub">
		<li class="nav-main__item"><a href="#" class="nav-main__link">О нас</a></li>
		<li class="nav-main__item"><a href="#" class="nav-main__link">Условия оплаты</a></li>
		<li class="nav-main__item"><a href="#" class="nav-main__link">Условия доставки</a></li>
		<li class="nav-main__item"><a href="#" class="nav-main__link">Контакты</a></li>
	</ul>
</nav><!-- end nav-main -->
