%button {
    border: 0;
    border-radius: $border-radius;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    color: $color-text;
    cursor: pointer;
    font-family: $f-medium;
    font-size: 15px;
    min-height: 44px;
    letter-spacing: 0.3px;
    line-height: 44px;
    min-width: 200px;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    @include tr;
    @include flexCenter;
    justify-content: center;
}

@mixin btnBig {
    font-size: 16px;
    height: 45px;
    line-height: 44px;
}

.button {
    @extend %button;

    @each $theme, $color in $button-colors {

        &--#{$theme} {
            background-color: $color;
            color: #fff;

            &:hover,
            :focus {
                background-color: lighten($color, 8%);
                color: #fff;
            }

            &:active {
                background-color: lighten($color, 4%);
                box-shadow: none;
                color: #fff;
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: #fff;
    }

    &--transparent {
        background-color: transparent;
        box-shadow: none;

        @each $theme, $color in $button-colors {

            &.button--#{$theme} {
                background-color: transparent;
                border: 1px solid $color;
                color: darken($color, 10%);
            }

            &.button--#{$theme}:hover,
            &.button--#{$theme}:focus,
            &.button--#{$theme}:active {
                background-color: $color;
                color: #fff;
                font-size: 14px;
            }
        }
    } //.button--transparent

    &--yellow {
        color: $color-text;

        &:hover,
        &:focus,
        &:active {
            color: $color-text;
        }
    } //.button--yellow

    &--muted {

        &:hover {
            color: #fff;
        }
    } //.button--muted

    &--link {
        display: inline-block;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        font-size: 16px;
        color: $color-accent;
        font-family: $f;
        letter-spacing: 0;
        min-width: auto;
        padding: 0;
        text-transform: initial;

        &:hover {
            text-decoration: underline;
        }
    } //.button--link

    &--back {
        display: inline-flex;
        align-items: center;

        .icon {
            width: 10px;
            height: 12px;
            margin-right: 3px;
            fill: $color-accent;
            @include rotate(180);
        }
    } //.button--back
} //.button

.button-icon {
    background-color: transparent;
    border: 0;
    display: inline-block;
    height: 32px;
    outline: none;
    padding: 0;
    position: relative;
    width: 32px;

    &--fav {

        &::before {
            color: $gray--darken;
            @include fa('solid');
            content: '\f004';
            font-size: 37px;
            @include vcenter;
        }

        &::after {
            content: '\f004';
            @include fa('solid');
            font-size: 32px;
            @include vcenter;
        }

        // &:hover {

        //     &::before {
        //         color: $color-third;
        //     }
        // }

        &.is-checked {

            &::before,
            &::after {
                color: $color-accent;
                font-family: faS;
            }
        } //.button-icon--fav.is-checked
    } //.button-icon--fav
} //.button-icon

.button-box {
    justify-content: space-between;
    @include flexCenter;
    text-align: center;

    @include xs-block() {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__text {
        color: #fff;
        display: block;
        font-size: 13px;
        @extend %textLight;
        margin-top: 10px;
        text-align: center;
    } //.buttons-box__text

    &--column {
        @include flexColumn;
        align-items: flex-start;

        .button-animate {
            margin-bottom: 5px;
        }
    } //.buttons-box--column

    &--center {
        display: flex;
        justify-content: center;
    } //.buttons-box---center

    .button-animate {
        @include respond-to(xs) {
            width: 80%;
        }

        & + .button-animate {
            margin-left: 30px;

            @include respond-to(xs) {
                margin-left: 0;
                margin-top: 15px;
            }
        }
    } //.buttons-box .button-animate

    p {
        margin-bottom: 0;
    }
} //.buttons-box

.go-top {
    background-color: $color-bg--light;
    border-radius: 50%;
    bottom: 10px;
    cursor: pointer;
    font-size: 10px;
    height: 52px;
    justify-content: center;
    right: -200%;
    padding-top: 5px;
    position: fixed;
    text-transform: uppercase;
    width: 52px;
    @include trans(right);
    @include flexCenter;
    z-index: z(absolute);
    @include tr;

    &::before {
        content: '\f106';
        font-family: fal;
        font-size: 20px;
        line-height: 1;
        @include vx;
        top: 4px;
        @include tr;
    }

    &:hover {
        color: #000;

        &::before {
            color: #000;
        }
    }

    &.is-visible {
        right: 10px;
    } //.go-top.is-visible
} //.go-top
