.input {
    display: inline-block;
    position: relative;

    &::before {
        color: $color-icon--light;
        font-family: fontawesome;
        line-height: 1;
        @include vy;
    }

    &.is-invalid {

        .input {

            &__field {
                border: 1px solid $color-danger !important;
            }

            &__error {
                display: block;
            }
        }
    }

    &--title {
        margin-top: 25px;
    } //input--title

    &__wrapper {
        @include flex;
    }

    &__wrap {
        position: relative;

        &_inline {
            display: inline-block;

            & + & {
                margin-left: 30px;
                @include max-screen(480) {
                    margin-left: 0;
                }
            }
        }
    }

    &__title {
        font-size: 13px;
        left: 0;
        margin-top: 0;
        position: absolute;
        top: -25px;

        span {
            color: $color-danger;
            display: inline-block;
            margin-left: 5px;
        }
    } //input__title

    &__field {
        @extend %styleInput;

        &.no-border {
            padding: 0;
            border: 0;
        }
    } //input__field

    &__box {
        display: inline-block;
        margin-right: 30px;
        position: relative;
        @include max-screen(480) {
            margin-right: 0;
        }

        @include max-screen(320) {

            span.js-remove-period {
                position: absolute;
                right: -30px;
                top: 46%;
            }
        }
    } //input__box

    &__remove {
        cursor: pointer;
        fill: $gray--lighten;
        height: 16px;
        margin-left: 15px;
        position: relative;
        top: 2px;
        width: 16px;
        @include tr;

        &:hover,
        &:focus {
            fill: $gray;
        }

        @include max-screen(480) {
            height: 15px;
            margin-left: 0;
            margin-right: 5px;
            width: 15px;
        }
    } //input__remove

    &__error {
        bottom: -15px;
        color: $color-danger;
        display: none;
        font-family: $f-light;
        font-size: 13px;
        @include text-overflow;
        left: 0;
        line-height: 1;
        position: absolute;
        width: 100%;
    } //input__error

    &--user {

        &::before {
            content: '\f007';
            right: 12.5px;
        }
    } //input--user

    &--price {
        width: 110px;
        @include max-screen(320) {
            width: 100px;
        }

        &::before {
            content: '\f158';
            right: 0;
        }

        .input {

            &__field {
                padding-right: 0;
                width: 100%;
            }
        }
    } //input--price

    &--time {

        &::before {
            content: '\f017';
            right: 10px;
        }

        .input {

            &__field {
                padding-right: 30px;
            }
        }
    } //input--time

    &--email {

        &::before {
            content: '\f0e0';
            right: 10px;
        }
    } //input--email

    &--phone {

        &::before {
            content: '\f10b';
            font-size: 23px;
            right: 13.5px;
        }

        .input {

            &__field {
                font-family: oswald-500, sans-serif;
            }
        }
    } //input--phone

    &--password {
    } //input--password

    &--confirm {

        .input {

            &__error {
                white-space: nowrap;
            }

            &__field {
                font-size: 16px;
                padding: 5px;
            }
        }
    } //input--confirm

    &__icon {
        color: $color-icon;
        @include vy;
        cursor: pointer;
        right: 10px;
    } //input__icon

    .selectize-control {
        min-width: 70px;
    }

    .select2-container .select2-selection--single .select2-selection__rendered,
    .select2-results__option {
        font-size: 16px;
    }
} //input

.date {
    display: inline-block;
    position: relative;
    width: 105px;

    &.is-invalid {

        .date {
            margin-bottom: 10px;

            &__wrap {
                border: 1px solid $color-danger;

                .date__field {
                    border-color: transparent;
                }
            }

            &__field {
                border: 1px solid $color-danger;
            }

            &__error {
                display: block;
            }
        }
    }

    &__wrap {
        border-radius: $border-radius;
        display: flex;
        flex-wrap: wrap;
    } //date__wrap

    &__title {
        font-size: 13px;
        left: 0;
        margin-top: 0;
        position: absolute;
        top: -25px;
    } //date__title

    &__field {
        @extend %styleInput;
        font-family: oswald-500, sans-serif;
        padding-right: 30px;
        width: 100%;
    } //date__field

    &__error {
        bottom: -15px;
        color: $color-danger;
        display: none;
        font-family: $f-light;
        font-size: 13px;
        left: 0;
        line-height: 1;
        position: absolute;
        width: 100%;
    } //input__invalid

    &--title {
        margin-top: 25px;
    }
} //date-date
