.pagination {
    @include xs-block() {
        align-items: center;
        @include flexColumn;
        width: 100%;

        &__title {
            text-align: center;
        }

        & + .pagination {
            margin-top: 25px;
        }
    }

    &__title {
        display: block;
        font-family: $f-light;
        font-size: 13px;
        margin-bottom: 8px;
        margin-right: auto;
        text-align: left;
        width: 100%;
    } //.pagination__title

    &__list {
        @include flexCenter;
        justify-content: center;
    } //.pagination__list

    &__item {
        border: 1px solid $color-border;
        border-radius: $border-radius;

        & + & {
            margin-left: 7px;
        }

        &:first-child,
        &:last-child {

            .pagination__icon {
                font-size: 18px;
                line-height: 1;
            }
        }

        &:hover {

            &:not(.is-active) {
                border-color: $color-bg--dark;

                .pagination__link {
                    color: $color-text;
                }
            }
        }

        &.is-active {
            border-color: $color-accent;

            .pagination__link {
                background-color: $color-accent;
                color: #fff;
            }
        } //.pagination__item .is-active
    } //.pagination__item

    &__link {
        align-items: center;
        background-color: transparent;
        border: 0;
        display: inline-flex;
        font-family: $f2;
        font-size: 15px;
        height: 35px;
        justify-content: center;
        width: 35px;
    } //.pagination__link

    &__icon {
    } //.pagination__icon

    &--right {
        margin-left: auto;

        @include xs-block() {
            margin: auto;
        }

        .pagination__title {
            text-align: right;

            @include xs-block() {
                text-align: center;
            }
        }
    }
} //pagination
