.pushUp {
    background-color: $color-accent;
    border-radius: $border-radius;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 50px;
    line-height: 1.2;
    max-width: 300px;
    overflow: hidden;
    padding: 5px 15px;
    position: fixed;
    right: -200%;
    text-overflow: ellipsis;
    top: 10px;
    width: 100%;
    z-index: z(modal);
    @include tr;

    &.is-active {
        right: 10px;
    }

    &__close {
        cursor: pointer;
        fill: #fff;
        height: 10px;
        position: absolute;
        right: 8px;
        top: 2px;
        width: 10px;
    }
} //bz-pushUp
