.search {

    &__form {
        position: relative;
        width: 425px;
        @include flexCenter;
        @include sm-block() {
            width: 350px;
        }
        @include sm-block() {
            border-top: 1px solid $color-border--light;
            width: 100%;
        }
    } //.search__form

    &__field {
        background-color: #fff;
        border-right: 0;
        padding: 11px 15px;
        width: 100%;
        @include tr;
        @include sm-block() {
            border-left: 0;
            border-top: 0;

            &:focus {
                border-color: $color-border--light;
            }
        }
    } //.search__field

    &__btn {
        background-color: $color-accent;
        border: 0;
        height: 43px;
        justify-content: center;
        position: relative;
        @include tr;
        @include flexCenter;
        width: 60px;

        &::before {
            content: '';
            @include arr(11, 42, #fff, r);
            left: -1px;
            position: absolute;
            top: 0;
            @include tr;
        }

        @include min-screen(481) {
            border-radius: 0 $border-radius $border-radius 0;
        }
    } //.search__btn

    &__icon {
        fill: #fff;
        height: 23px;
        margin: auto auto auto 14px;
        width: 23px;
        @include tr;
    } //.search__icon
} //.search

.search-hint {
    background-color: #fff;
    border: 1px solid $color-border--light;
    border-radius: 0 0 $border-radius $border-radius;
    border-top-color: transparent;
    left: 0;
    max-height: 250px;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: z(dropdown);
    @include bz-scroll;

    @include sm-block() {
        border-left-color: transparent;
        border-right-color: transparent;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
        top: 100%;
    }

    &__item {

        & + & {
            border-top: 1px solid $color-border--light;
        }

        &.is-selected {
            background-color: #eee;
        }
    } //search-hint__item

    &__link {
        display: flex;
        @include flexCenter;
        padding: 7px 10px;
        transition: initial;

        &:hover {
            background-color: $color-bg--lighten;
        }
    } //search-hint__link

    &__bade {
        background-color: $color-muted;
        border-radius: $border-radius;
        color: #000;
        font-family: $f-medium;
        font-size: 10px;
        margin-right: 5px;
        padding: 1px 5px;
        text-align: center;
        text-transform: uppercase;
        width: 98px;
    } //search-hint__bade
} //search-hint
