.bz-slider {
    position: relative;
    @include nosel;

    .slick-arrow {
        cursor: pointer;
        display: inline-block;
        height: 32px;
        line-height: 1;
        outline: none;
        position: absolute;
        //. bottom: 51px;
        top: 60px;
        width: 32px;
        z-index: z(default);

        &.slick-disabled {
            display: none !important;
        }

        &::before {
            color: $color-icon;
            font-family: faL;
            font-size: 28px;
            line-height: 1;
            opacity: 0.3;
        }

        &:hover {

            &::before {
                opacity: 1;
            }
        }

        &.slick-prev {
            left: -40px;

            &::before {
                content: '\f104';
            }
        }

        &.slick-next {
            right: -40px;

            &::before {
                content: '\f105';
            }
        }
    }

    &__arrow {
        width: 25px;
        height: 25px;
        background: transparent;
        background-image: none !important;
        border: 0;
        bottom: -20px;
        cursor: pointer;
        display: inline-block;
        outline: none;
        position: absolute;
        z-index: z(fixed);

        &::before {
            display: none;
        }

        &.slick-disabled {
            display: none !important;
        }

        &.swiper-button-disabled {
            cursor: pointer;
            pointer-events: auto;

            &:hover {
                opacity: 1;
            }
        }

        &.swiper-button-prev,
        &--prev {

            .icon {
                @include rotate(180);
            }
        }

        &.swiper-button-prev,
        &--next {
            // .icon {
            //     @include rotate(180);
            // }
        }

        //. &::before {
        //.     font-family: faL;
        //.     font-size: 28px;
        //.     color: $color-icon;
        //.     opacity: 0.3;
        //. }

        .icon {
            fill: $gray--dark;
            height: 25px;
            width: 25px;
            @include tr;
        }

        &:hover {

            &::before {
                opacity: 1;
            }

            .icon {
                fill: $color-icon;
            }
        } //.bz-slider__arrow

        &--prev {
            left: 48%;

            .icon {
                @include rotate(180);
            }

            &::before {
                content: '\f104';
            }

            @include max-screen(480) {
                left: 43%;
            }
        } //.bz-slider__arrow--prev

        &--next {
            right: 48%;

            &::before {
                content: '\f105';
            }
            @include max-screen(480) {
                right: 43%;
            }
        } //.bz-slider__arrow--next
    } //.bz-slider__arrow

    &__slides {

        &--thumbs {
            width: 100px;
            margin-top: 36px;
            margin-bottom: 16px;

            .slick-arrow {

                &::before {
                    font-size: 35px;
                    opacity: 0.7;
                }

                &.slick-prev {
                    left: 50%;
                    transform: translateX(-50%) rotate(-90deg);
                    top: auto;
                    bottom: -35px;
                }

                &.slick-next {
                    left: 50%;
                    transform: translateX(-50%) rotate(-90deg);
                    top: -35px;
                }
            }
        }

        &--gallery {
            max-width: 600px;
            width: 100%;
            padding: 10px 0 3px;
            border: 1px solid $color-border;

            @include sm-block() {
                max-width: 375px;
                max-height: 375px;
            }

            @include xs-block() {
                max-width: 100%;
                max-height: 100%;
            }

            .slick-arrow {
                height: 70px;
                margin-top: 0;

                &::before {
                    font-size: 70px;
                    color: #fff;
                    opacity: 1;
                } //.bz-slider__slides--gallery .slick-arrow::before

                &.slick-prev {
                    @include centre('y');
                    left: 15px;
                } //.bz-slider__slides--gallery .slick-arrow.slick-prev

                &.slick-next {
                    @include centre('y');
                    right: 15px;
                } //.bz-slider__slides--gallery .slick-arrow.slick-next
            } //.bz-slider__slides--gallery .slick-arrow

            .slick-slide {
                margin: 0 10px;
            } //.bz-slider__slides--gallery .slick-slide
        } //.bz-slider__slides--gallery
    } //.bz-slider__slides

    &__slide {
    } //.bz-slider__slide

    &--promo {

        .bz-slider {

            &__arrow {
                bottom: 20px;
                opacity: 0.6;
                top: auto;
                @include respond-to(xs) {
                    display: none !important;
                }

                &:hover {
                    opacity: 1;
                }

                &::before {
                    color: #fff;
                    font-size: 35px;
                    opacity: 1;
                }

                &--prev {
                    left: auto;
                    right: 60px;
                }

                &--next {
                    right: 30px;
                }
            }
        }

        .slick-slide {
            margin: 0;
        }
    } //.bz-slider--promo

    &--new {
        //. max-width: 1070px;
        margin: 0 50px;

        @include md-block() {
            margin-bottom: 30px;
        }

        @include xs-block() {
            margin-left: 0;
            margin-right: 0;
        }

        .bz-slider {

            &__arrow {
                bottom: auto;
                top: 42%;
                transform: translateY(-50%);

                @include xs-block() {
                    display: none;
                }

                &--prev,
                &.swiper-button-prev {
                    left: -43px;
                }

                &--next,
                &.swiper-button-next {
                    right: -43px;
                }
            }

            &__slides {
                // padding-bottom: 30px;
                // margin-bottom: -30px;
                // overflow-x: auto;
                // overflow-y: hidden;
                // white-space: nowrap;
                // display: flex;
                // align-items: flex-start;

                .product-item--small {
                    max-width: 128px;
                    width: 100%;

                    & + .product-item--small {
                        margin-left: 15px;
                    }
                }
            }
        }

        .slick-slide {
            margin: 0 $gutter;
            @include respond-to(i7) {
                margin: 0 7.5px;
            }
        }

        .product-item--small {
            margin-bottom: 0;
        }
    } //.bz-slider--new

    &--related {

        .bz-slider {

            &__arrow {
                bottom: auto;
                @include centre('y');

                @include xs-block() {
                    display: none;
                }

                &--prev,
                &.swiper-button-prev {
                    left: -50px;
                }

                &--next,
                &.swiper-button-next {
                    right: -50px;
                }
            }
        }
    } //.bz-slider--related

    &--card {
        // height: 500px;
        display: flex;

        @include sm-block() {
            max-height: 334px;
        }

        @include xs-block() {
            max-height: 394px;
        }

        @include i7-block() {
            max-height: 355px;
        }

        @include s5-block() {
            max-height: 340px;
        }

        @include i5-block() {
            max-height: 300px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .bz-slider {

            &__slides {
                // margin-bottom: 10px;

                @include respond-to(xs) {
                    margin-bottom: 0;
                }
            } //.bz-slider--card .bz-slider__slides

            &__gallery {
                padding: 10px;
                border: 1px solid $color-border;
                position: relative;

                .bz-slider {

                    &__arrow {
                        width: 55px;
                        height: 55px;
                        margin-top: 0;
                        opacity: 1;
                        @include centre('y');

                        &::before {
                            display: none;
                        }

                        &--prev {
                            left: 0;
                        }

                        &--next {
                            right: 10px;
                            left: auto;
                        }

                        .icon {
                            width: 55px;
                            height: 55px;
                            fill: #fff;
                        }
                    }
                }
            } //.bz-slider__gallery

            &__thumbs {
                margin: 30px 20px 30px 0;
                position: relative;
                flex-basis: 90px;
                flex-shrink: 0;

                .bz-slider {

                    &__arrow {
                        width: 25px;
                        height: 25px;
                        bottom: auto;
                        right: auto;
                        @include centre('x');
                        left: 38%;

                        &::before {
                            display: none;
                        }

                        &--next {
                            top: -8px;
                            @include rotate(-90);
                        }

                        &--prev {
                            top: auto;
                            bottom: -40px;
                            @include rotate(-90);
                            left: 35%;
                        }
                    }
                }

                .swiper-slide {
                    flex-basis: 90px;
                }
            } //.bz-slider__thumbs
        } //.bz-slider--card

        .gallery-thumbs {
            height: 100%;
            padding: 0;

            .swiper-slide {
                opacity: 0.5;

                &.swiper-slide-thumb-active {
                    opacity: 1;
                }
            }
        } //.bz-slider--card .gallery-thumbs
    } //.bz-slider--card

    &--colors {
        margin: 0 30px;
        position: relative;

        .swiper-slide {
            width: 50px !important;
            height: 50px;
            border: 1px solid $color-border;
        }

        .bz-slider {

            &__arrow {
                top: 34px;
                bottom: auto;

                &.swiper-button-disabled {
                    display: none;
                }

                &--prev {
                    left: -38px;
                }

                &--next {
                    right: -35px;
                }
            }
        }
    } //.bz-slider--colors
} //.bz-slider
