.tab {

    &__titles {
        border-bottom: 1px solid rgba(#000, 0.1);
        display: inline-flex;
    } //.tab__titles

    &__title {
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 14px;
        border-bottom: 2px solid transparent;
        // transition: border 0.2s linear;
        cursor: pointer;
        outline: none;
        position: relative;
        top: 1px;

        &:hover {
            border-bottom: 2px solid rgba($color-accent, 0.4);
        }

        &.is-active,
        &.ui-tabs-active {
            border-bottom: 2px solid $color-accent;

            .tab {

                &__text {
                    color: $color-accent;
                    font-family: $f-bold;
                }
            }
        }

        & + & {
            margin-left: 30px;
        }
    } //.tab__title

    &__contentes {
        @include clr;
    } //.tab__contentes

    &__content {
        display: none;
        padding: 15px 0;

        p {
            font-size: 15px;
            line-height: 1.6;
        }

        &--scroll {
            max-height: 265px;
            position: relative;
            @include blurBg;

            @include sm-block() {
                height: 100%;
                @include scroll;
            }
        } //.tab__content--scroll
    } //.tab__content

    &__icon {
        width: 40px;
        height: 40px;

        &_wrap {
            width: 55px;
            height: 55px;
            margin-bottom: 10px;
            border: 1px solid $gray--dark;
            border-radius: 50%;
            @include flexCenter;
            justify-content: center;
        }
    } //.tab__icon

    &__text {
        font-size: 12px;
        text-align: center;
    } //.tab__text

    &--devider {

        .tab {

            &__titles {
            } //.tab--devider .tab__titles

            &__title {
                min-width: 70px;
                @include flexColumn;

                & + .tab__title {
                    margin-left: 45px;

                    &::before {
                        content: '';
                        display: block;
                        width: 53px;
                        height: 1px;
                        background-color: #aeaeae;
                        position: absolute;
                        top: 31.5px;
                        left: -48px;
                    }
                } //.tab--devider .tab__title+.tab__title

                &.is-active,
                &.ui-tabs-active {

                    .tab {

                        &__icon {
                            fill: #fff;

                            &_wrap {
                                border-color: $color-accent;
                                background-color: $color-accent;
                            }

                            // &.icon-thread {
                            //     @include sprite('thread--hover');
                            // }

                            // &.icon-elastic {
                            //     @include sprite('elastic--hover');
                            // }

                            &--static {
                                display: none;
                            }

                            &--hover {
                                display: block;
                            }
                        }
                    }
                }

                &:hover {
                    border-bottom: 0;
                } //.tab--devider .tab__title:hover
            } //.tab--devider .tab__title

            &__text {
                font-size: 11px;
                line-height: 1.3;
            } //.tab--devider .tab__text

            &__icon {

                &--hover {
                    display: none;
                }
            }
        } //.tab--devider
    } //.tab--devider
} //.tab
