.footer {
    background-color: $color-bg--light;
    padding: 35px 0;
    @include nosel;

    @include xs-block() {
        padding: 5px 0;
    }

    &__in {
        @include row-flex;

        @include xs-block() {
            margin-left: 0;
            margin-right: 0;
        }
    } //.footer__in

    &__social {
        margin-top: 20px;

        @include xs-block() {
            padding: 0 10px;
        }
    } //.footer__social

    .container {
        @include xs-block() {
            padding: 0;
        }
    }
} //.footer

.footer-item {
    @include col;
    @include size(3);
    @include size-sm(6);
    @include size-xs(12);

    @include respond-to(sm) {
        margin-bottom: $gutter;
    }

    @include xs-block() {
        margin: 0;
        width: 100%;

        & + & {
            border-top: 1px solid #d9d9d9;
            margin-top: 0;
        }
    }

    &:not(:first-child) {

        .footer-item__link {
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    &__title {
        font-family: $f2-bold;
        font-weight: 500;

        @include xs-block() {
            padding-left: 10px;

            &::before {
                right: 10px;
            }
        }
    } //.footer-item__title

    &__content {
        @include xs-block() {
            margin-bottom: 15px;
        }
    }

    &__list {
        @include flexColumn;

        @include xs-block() {
            padding-left: 10px;
        }
    } //.footer-item__list

    &__el {
        color: $color-text;
        font-size: 14px;
        letter-spacing: 0.5px;
        @include flexCenter;

        & + & {
            margin-top: 10px;
        }
    } //.footer-item__el

    &__link {
        color: $color-text;
        font-size: 14px;
        letter-spacing: 0.5px;

        &:hover {
            color: $color-accent;
        }
    } //.footer-item__link

    &__icon {
        font-size: 18px;
        margin-right: 10px;

        &.fa-map-marker-alt {
            margin-left: 2px;
        }
    } //.footer-item__icon
} //.footer-item
