.header {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: z(fixed) + 2;

    @include md-block() {
        position: fixed;
    }

    &__in {
        height: 100%;
        position: relative;
        @include container;
        @include flexCenter;
    } //.header_in

    &__top-line {
        background-color: $color-bg--dark;
        color: #fff;
        height: 30px;

        @include sm-block() {
            display: none;
        }
    } //.header__top-line

    &__bottom {
        background-color: $color-bg--lighten;
        height: 80px;
        position: relative;
        z-index: z(fixed);
        @include tr;

        @include sm-block() {
            height: 50px;
        }
    } //.header__bottom

    &__city {
        margin-right: 60px;
    } //.header__city

    &__phone {
        color: #fff;
        font-family: $f-light;
        font-size: 14px;
        line-height: 30px;
        margin-left: auto;

        &:hover {
            color: #fff;
        }
    } //.header__phone

    &__logo {
        line-height: 70px;

        @include sm-block() {
            margin-left: 35px;
            width: 165px;
        }
    } //.header__logo

    &__search {
        @include centre;

        @include sm-block() {
            background-color: #fff;
            display: none;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            @include trfY(-250%);
            @include tr;
            z-index: -1;

            &.is-visible {
                @include trfY(0);
                display: block;
            }
        }
    } //.header__search

    &__user-nav {
        margin-left: auto;
    } //.header__user-nav

    .page-banner {
        @include md-block() {
            margin-top: 50px;
        }
    }
} //header

.header-main {
    left: 0;
    top: 0;
    width: 100%;
    z-index: z(dropdown);

    // @include md-block() {
    //     position: fixed;
    // }

    &.header--fixed {
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: z(dropdown);

        .header__bottom {
            height: 55px;
        } //.header-main.header--fixed .header__bottom

        .user-nav__icon {
            font-size: 18px;
            margin-bottom: 0;

            @include xs-block() {
                font-size: 25px;
            }

            &--cart {

                &::before {
                    height: 18px;
                    min-width: 18px;
                    right: 3px;
                    top: -7px;
                }
            }
        } //.header-main.header--fixed .user-nav__icon

        .search {

            &__btn {
                height: 33px;
                width: 55px;

                &::before {
                    @include arr(11, 33, #fff, r);
                }
            }

            &__icon {
                height: 20px;
                width: 20px;
            }

            &__field {
                padding: 7px 15px;
            }
        } //.header-main.header--fixed .search

        .nav-main {

            &__list {
                height: 50px;
            }

            &__icon {
                opacity: 0;
                visibility: hidden;
            }

            &__text {
                position: relative;
                top: -15px;
            }
        } //.header-main.header--fixed .nav-main
    } //.header-main.header--fixed
} //.header-main

.city {
    color: #fff;
    font-family: $f-light;
    font-size: 13px;
    @include flexCenter;

    &__text {
        display: inline-block;
        margin-right: 5px;
    } //.city__text

    &__link {
        border-bottom: 1px dashed #fff;
        color: #fff;
        line-height: 1;
        margin-top: 3px;
        position: relative;

        &:hover {
            border-bottom: 0;
            color: #fff;
        }
    } //.city__link
} //.city

.conditions {
    line-height: 30px;

    &__list {
        @include flexCenter;
    } //.coditions__list

    &__item {

        & + & {
            margin-left: 30px;
        }
    } //.coditions__item

    &__link {
        color: #fff;
        font-family: $f-light;
        font-size: 13px;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    } //.coditions__link
} //.conditions

.logo {
    display: inline-block;
    width: 190px;
} //.logo

.user-nav {
    @include sm-block() {
        margin-left: auto;
        margin-right: 10px;
    }

    &__list {
        @include flexCenter;
    } //.user-nav__list

    &__item {
        position: relative;

        & + & {
            margin-left: 30px;

            @include xs-block() {
                margin-left: 25px;
            }
        }

        &--cart {
            position: relative;

            &::before {
                content: attr(data-cart-counter);
                @include badge;
                font-family: $f;
                font-size: 12px;
                @include tr;
                position: absolute;
                right: 0;
                top: -7px;

                @include sm-block() {
                    right: -10px;
                }
            }
        }
    } //.user-nav__item

    &__link {
        @include flexColumn;
        align-items: center;

        &:hover {

            .user-nav__icon {
                color: $color-accent;
                fill: $color-accent;
            }

            .user-nav__text {
                color: $color-accent;
            }
        }
    } //.user-nav__link

    &__icon {
        fill: $color-text;
        font-size: 28px;
        margin-bottom: 5px;
        @include tr;
    } //.user-nav__icon

    &__text {
        color: $color-text;
        font-size: 12px;
        @include tr;
        @include sm-block() {
            display: none;
        }
    } //.user-nav__text

    &__dropdown {
        min-width: 180px;
        padding: 6px 0;

        li {

            &:last-child {
                border-top: 1px solid $color-border--light;
                margin-top: 5px;
                padding-top: 5px;

                a {
                    padding: 0 15px;
                }
            }
        }

        a {
            display: block;
            font-family: $f;
            font-size: 14px;
            padding: 5px 15px;
            transition: initial;

            &:hover {
                color: $color-accent;
                // background-color: $gray--lightest;
                text-decoration: underline;
            }
        }
    } //.user-nav__dropdown
} //.user-nav
