.modal-open .modal {
	@include bz-scroll;
}
.modal {
	&-dialog {
		@include respond-to(xs) {
			margin-top: $base-indent * 3;
		}

		&--lg {
			max-width: 960px;
			margin: $base-indent auto;
		}

		&--md {
			max-width: 768px;
			margin: $base-indent auto;
		}

		&--sm {
			max-width: 425px;
			margin: $base-indent auto;
		}
	}

	&-header {
		position: relative;

		.modal__btn--close {
			top: 8px;
			right: 5px;
		}
	}

	&-title {
		margin: auto 0;
		font-family: $f-medium;
		font-weight: 500;
		font-size: 18px;
		letter-spacing: 0;
		text-transform: initial;
		line-height: 1;
	}

	&__btn {
		min-width: auto;
		height: 32px;
		line-height: 31px;
		border: 0;
		outline: none;
		cursor: pointer;

		&--close {
			height: auto;
			line-height: auto;
			padding: 5px 10px;
			font-size: 21px;
			font-weight: 600;
			line-height: 1;
			color: #000;
			text-shadow: 0 1px 0 #fff;
			background-color: transparent;
			opacity: 0.3;
			position: absolute;
			top: 3px;
			right: 5px;
			z-index: z(default);

			&:hover {
				text-decoration: none;
				opacity: 0.75;
			}

			&:not(:disabled):not(.disabled) {
				cursor: pointer;
			}
		}

		&--cancel {
			padding: 0 15px;
		}

		&--confirm {
			padding: 0 15px;
		}
	}
} //.modal

.change-city {
	&__title {
		display: block;
		margin-bottom: 10px;
		font-family: $f-bold;
		font-size: 20px;
	} //.change-city__title

	&__in {
		@extend %flex;
		flex-wrap: wrap;
	} //.change-city__in

	&__list {
		columns: auto 4;

		@include respond-to(sm) {
			columns: auto 3;
		}

		@include respond-to(xs) {
			columns: auto;
			width: 100%;
			margin-bottom: 0px;
		}

		&_country {
			display: inline-block;
			columns: auto;
			padding-top: $base-indent;
			padding-right: 70px;
			margin-top: $base-indent;
			border-top: 1px solid $color-border--light;
		}
	} //.change-city__list

	&__item {
		margin-left: 15px;
		font-size: 14px;
		cursor: pointer;
		position: relative;

		@include respond-to(xs) {
			display: inline-block;
			width: 45%;
		}

		& + & {
			margin-top: 5px;
		}

		&::before {
			content: "";
			display: block;
			@include vy;
			left: 0;
		}

		@each $item in belarus ukraine kaz {
			&--#{$item} {
				padding-left: 34px;
				font-size: 15px;
				&::before {
					@include sprite(flag--#{$item});
				}
			}
		}
	} //.change-city__item
} //.change-city

.logout {
	&__question {
		padding: $gutter 0;
	} //.logout__question
} //.logout

.preview {
	@include respond-to(md) {
		.modal-dialog--lg {
			width: 825px;
		}
	}

	.modal-dialog--lg {
		@include screenSize;
	}

	.modal-body {
		overflow: hidden;
		@include respond-to(xs) {
			padding: 35px 10px 30px;
		}
	}

	&.show {
		.preview__arrow {
			transform: translateX(0);
			z-index: initial;
		}
	}

	&__arrow {
		display: block;
		width: 60px;
		height: 60px;
		background-color: rgba(#000, 0.3);
		cursor: pointer;
		border-radius: 50%;
		position: fixed;
		top: 320px;
		@include tr;
		// transition-delay: .35s;
		z-index: -1;

		&:hover {
			background-color: rgba(#000, 0.6);
			&::before {
				opacity: 1;
			}
		}

		&::before {
			content: " ";
			display: block;
			opacity: 0.6;
			position: absolute;
			top: 14px;
			left: 10px;
			@include tr;
		}

		&--prev {
			left: -80px;
			transform: translateX(100%);
			&::before {
				left: 10px;
				@include sprite("angel-white--left");
			}
		}
		&--next {
			right: -80px;
			transform: translateX(-100%);
			&::before {
				left: 18px;
				@include sprite("angel-white--right");
			}
		}
	} //.preview__arrow

	.card {
		&__wrap,
		&__title {
			margin-bottom: $gutter;
		}

		&__wrap {
			.button {
				@include respond-to(md) {
					width: 100%;
					margin-left: 0;
					margin-top: $gutter;
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

		&__image {
			margin-right: 25px;
			@include respond-to(md) {
				width: 45%;
			}
			@include respond-to(xs) {
				width: 100%;
				margin-right: 0;
			}
		}

		&__related {
			.tab {
				&__contentes {
					padding-left: 0;
					padding-right: 0;
					padding-bottom: 0;
				}
				&__titles {
					@include respond-to(sm) {
						width: 100%;
					}
				}
			}
		}

		&__title {
			font-size: 28px;
			@include respond-to(xs) {
				font-size: 23px;
			}
		}

		&__price {
			margin-bottom: 0;
		}

		&__item-select {
			margin-top: $gutter;
			@include respond-to(i7) {
				margin-top: 0;
				margin-bottom: $gutter*1.5;
			}
		}

		&__info {
			margin-right: 0;
			@include respond-to(xs) {
				max-width: 100%;
			}
		}
	}

	.accordeon {
		&__item {
			border-top: 1px solid $color-border;
			&:last-child {
				border-bottom: 1px solid $color-border;
			}
		}
		&__title {
			padding: 12px 0 12px 10px;
		}
		&__content {
			padding: 0 10px 10px;
			p {
				margin: 0;
			}
		}
	}

	.button-box {
		margin-bottom: $gutter;
		text-align: center;
		&__in {
			@extend %flexCenter;
		}
		div[tooltip] {
			width: 45px;
			height: 45px;
			margin-left: $gutter;
		}
		.card__order-info {
			display: block;
			text-align: left;
		}
	}

	.button--default {
		// @include btnBig;
		display: block;
		max-width: 200px;
		margin: $gutter auto;
		font-family: $f;
	}

	.bz-slider {
		.slick-arrow {
			@include respond-to(xs) {
				display: none !important;
			}
			&.slick-next {
				right: -20px;
			}
			&.slick-prev {
				left: -20px;
			}
		}
	}
} //.preview
