.modal-open .modal {
    @include bz-scroll;
}

.modal {

    &-dialog {
        @include respond-to(xs) {
            margin-top: $base-indent * 3;
        }

        &--lg {
            margin: $base-indent auto;
            max-width: 960px;
        }

        &--md {
            margin: $base-indent auto;
            max-width: 768px;
        }

        &--sm {
            margin: $base-indent auto;
            max-width: 425px;
        }
    }

    &-header {
        position: relative;

        .modal__btn--close {
            right: 5px;
            top: 8px;
        }
    }

    &-title {
        font-family: $f-medium;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 1;
        margin: auto 0;
        text-transform: initial;
    }

    &__btn {
        border: 0;
        cursor: pointer;
        height: 32px;
        line-height: 31px;
        min-width: auto;
        outline: none;

        &--close {
            background-color: transparent;
            color: #000;
            font-size: 21px;
            font-weight: 600;
            height: auto;
            line-height: auto;
            line-height: 1;
            opacity: 0.3;
            padding: 5px 10px;
            position: absolute;
            right: 5px;
            text-shadow: 0 1px 0 #fff;
            top: 3px;
            z-index: z(default);

            &:hover {
                opacity: 0.75;
                text-decoration: none;
            }

            &:not(:disabled):not(.disabled) {
                cursor: pointer;
            }
        }

        &--cancel {
            padding: 0 15px;
        }

        &--confirm {
            padding: 0 15px;
        }
    }
} //.modal

.change-city {

    &__title {
        display: block;
        font-family: $f-bold;
        font-size: 20px;
        margin-bottom: 10px;
    } //.change-city__title

    &__in {
        @include flex;
        flex-wrap: wrap;
    } //.change-city__in

    &__list {
        columns: auto 4;

        @include respond-to(sm) {
            columns: auto 3;
        }

        @include respond-to(xs) {
            columns: auto;
            margin-bottom: 0;
            width: 100%;
        }

        &_country {
            border-top: 1px solid $color-border--light;
            columns: auto;
            display: inline-block;
            margin-top: $base-indent;
            padding-right: 70px;
            padding-top: $base-indent;
        }
    } //.change-city__list

    &__item {
        cursor: pointer;
        font-size: 14px;
        margin-left: 15px;
        position: relative;

        @include respond-to(xs) {
            display: inline-block;
            width: 45%;
        }

        & + & {
            margin-top: 5px;
        }

        &::before {
            content: '';
            display: block;
            @include vy;
            left: 0;
        }

        @each $item in belarus ukraine kaz {

            &--#{$item} {
                font-size: 15px;
                padding-left: 34px;

                &::before {
                    @include sprite(flag--#{$item});
                }
            }
        }
    } //.change-city__item
} //.change-city

.logout {

    &__question {
        padding: $gutter 0;
    } //.logout__question
} //.logout

.preview {
    @include respond-to(md) {

        .modal-dialog--lg {
            width: 825px;
        }
    }

    .modal-dialog--lg {
        @include screenSize;
    }

    .modal-body {
        overflow: hidden;
        @include respond-to(xs) {
            padding: 35px 10px 30px;
        }
    }

    &.show {

        .preview__arrow {
            transform: translateX(0);
            z-index: initial;
        }
    }

    &__arrow {
        background-color: rgba(#000, 0.3);
        border-radius: 50%;
        cursor: pointer;
        display: block;
        height: 60px;
        position: fixed;
        top: 320px;
        width: 60px;
        @include tr;
        // transition-delay: .35s;
        z-index: -1;

        &:hover {
            background-color: rgba(#000, 0.6);

            &::before {
                opacity: 1;
            }
        }

        &::before {
            content: ' ';
            display: block;
            left: 10px;
            opacity: 0.6;
            position: absolute;
            top: 14px;
            @include tr;
        }

        &--prev {
            left: -80px;
            transform: translateX(100%);

            &::before {
                left: 10px;
                @include sprite('angel-white--left');
            }
        }

        &--next {
            right: -80px;
            transform: translateX(-100%);

            &::before {
                left: 18px;
                @include sprite('angel-white--right');
            }
        }
    } //.preview__arrow

    .card {

        &__wrap,
        &__title {
            margin-bottom: $gutter;
        }

        &__wrap {

            .button {
                @include respond-to(md) {
                    margin-left: 0;
                    margin-top: $gutter;
                    width: 100%;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        &__image {
            margin-right: 25px;
            @include respond-to(md) {
                width: 45%;
            }

            @include respond-to(xs) {
                margin-right: 0;
                width: 100%;
            }
        }

        &__related {

            .tab {

                &__contentes {
                    padding-bottom: 0;
                    padding-left: 0;
                    padding-right: 0;
                }

                &__titles {
                    @include respond-to(sm) {
                        width: 100%;
                    }
                }
            }
        }

        &__title {
            font-size: 28px;
            @include respond-to(xs) {
                font-size: 23px;
            }
        }

        &__price {
            margin-bottom: 0;
        }

        &__item-select {
            margin-top: $gutter;
            @include respond-to(i7) {
                margin-bottom: $gutter * 1.5;
                margin-top: 0;
            }
        }

        &__info {
            margin-right: 0;
            @include respond-to(xs) {
                max-width: 100%;
            }
        }
    }

    .accordeon {

        &__item {
            border-top: 1px solid $color-border;

            &:last-child {
                border-bottom: 1px solid $color-border;
            }
        }

        &__title {
            padding: 12px 0 12px 10px;
        }

        &__content {
            padding: 0 10px 10px;

            p {
                margin: 0;
            }
        }
    }

    .button-box {
        margin-bottom: $gutter;
        text-align: center;

        &__in {
            @include flexCenter;
        }

        div[tooltip] {
            height: 45px;
            margin-left: $gutter;
            width: 45px;
        }

        .card__order-info {
            display: block;
            text-align: left;
        }
    }

    .button--default {
        // @include btnBig;
        display: block;
        font-family: $f;
        margin: $gutter auto;
        max-width: 200px;
    }

    .bz-slider {

        .slick-arrow {
            @include respond-to(xs) {
                display: none !important;
            }

            &.slick-next {
                right: -20px;
            }

            &.slick-prev {
                left: -20px;
            }
        }
    }
} //.preview
