.product-item {
    background-color: #fff;
    display: inline-block;
    margin-bottom: $base-indent * 1.5;
    position: relative;
    transition: none;
    z-index: z(fixed);

    &::after {
        content: '';
        display: none;
        @include coverdiv;
        z-index: -1;

        @include respond-min(xs) {
            box-shadow: 0 20px 30px rgba(#000, 0.25);
        }
    }

    &:hover,
    &.is-hover {
        color: $color-text;
        z-index: 11;

        @include min-screen(481) {
            // box-shadow: 0 20px 30px rgba(#000, 0.4);

            &::after {
                display: block;
            }

            .product-item {

                &__img {
                    border-color: transparent;
                }

                &__more {
                    display: block;
                }
            }
        }
    }

    &__wrap {
        @include row-flex;

        .product-item {
            @include col;
            @include size(3);
            @include size-md(4);
            @include size-xs(6);
            // @include size-i7(12);

            &--small {
                @include col();
                @include size(1.5);
                @include size-sm(2);
                @include size-xs(4);
                @include size-i7(4);
                @include size-i5(6);
            } //.product-item__wrap .product-item--small
        } //.product-item__wrap .product-item
    } //.product-item__wrap

    &__img {
        border: 1px solid $color-border;
        margin-bottom: 10px;
        padding: 10px;
        position: relative;

        &:hover {

            & > .product-item__image {
                opacity: 0;
                visibility: hidden;
            }

            & + .product-slider {
                opacity: 1;
                visibility: visible;
            }
        }
    } //.product-item__img

    &__fav {
        color: #fff;
        position: absolute;
        right: 18px;
        top: 15px;
        z-index: z(fixed) + 1;
    } //.product-item__fav

    &__box {
        @include flexCenter;
        justify-content: center;
    } //.product-item__box

    &__desc {
        // padding: 0 10px;
        margin-bottom: 10px;
        text-align: center;
    } //.product-item__desc

    &__more {
        background-color: #fff;
        box-shadow: 0 35px 30px rgba(0, 0, 0, 0.4);
        display: none;
        left: 0;
        padding: 0 10px 10px;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: z(fixed) + 1;

        @include xs-block() {
            display: none;
        }
    } //.product-item__more

    &__title {
        font-family: $f2-bold;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.24px;
        margin-bottom: 0;
        text-transform: uppercase;
        white-space: normal;

        @include xs-block() {
            margin-bottom: 5px;
            text-align: center;
        }

        span {
            font-family: $f;
            font-weight: 400;
            position: relative;

            &::before,
            &::after {
                font-family: faL;
            }

            &::before {
                content: '\f100';
            }

            &::after {
                content: '\f101';
            }
        }
    } //.product-item__title

    &__price {
        font-family: $f2;
        font-size: 20px;
        text-align: center;

        & + .product-item__price {
            margin-left: 10px;
        }

        i {
            font-size: 12px;
        }

        span {
            font-family: $f;
            font-size: 14px;
        }

        &--discount {
            font-size: 14px;
            text-decoration: line-through;
        } //.product-item__price--discount
    } //.product-item__price

    &__articul,
    &__color-count {
        margin-left: auto;
    } //.product-item__articul

    &__articul {
        font-size: 12px;
        text-transform: uppercase;
        @include xs-block() {
            display: none;
        }
    } //.product-item__articul

    &__color-count {
        font-style: normal;
        margin-left: auto;
    } //.product-item__color-count

    &__color {
        margin-bottom: 10px;
        margin-top: 15px;
    } //.product-item__color

    &__btn {
        display: block;
        width: 100%;

        & + & {
            margin-top: 7px;
        }
    } //.product-item__btn

    &__del {
        background-color: transparent;
        border: 0;

        .icon {
            height: 24px;
            width: 24px;
        }
    } //.product-item__del

    // &__badge {
    //     // position: absolute;
    //     // top: 20px;
    //     // left: -5px;
    //     // z-index: 9;
    // } //.product-item__badge

    &--small {
        width: 180px;

        @include min-screen(481) {

            &:hover,
            &.is-hover {
                box-shadow: none;

                .product-item__img {
                    border-color: $color-border--dark;
                }
            }
        }

        .product-item {

            &__img {
                border: 0;
                padding: 0;
            } //.product-item--small .product-item__img

            &__desc {
                text-align: center;
                @include xs-block() {
                    padding: 0;
                }
            } //.product-item--small .product-item__desc

            &__fav,
            &__more,
            &__articul,
            &__color-count {
                display: none !important;
            } //.product-item--small .product-item
        } //.product-item--small

        .rub {
            font-family: $f;
            font-size: 13px;
            font-style: normal;
        } //.product-item--small .rub
    } //.product-item--small

    &--color {
        margin-bottom: $gutter;

        @include xs-block() {
            margin-bottom: $gutter;
        }

        .product-item {

            &__img {
                border: 0;
                margin-bottom: 10px;
                padding: 0;
            }

            &__title {
                font-family: $f;
                font-weight: 400;

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    } //.product-item--color

    &--wide {
        align-items: center;
        display: flex;

        &:hover {
            @include min-screen(481) {
                box-shadow: none;

                .product-item {

                    &__img {
                        border-color: $color-border--light;
                    }
                }
            }
        }

        .product-item {

            &__img {
                border-color: $color-border--light;
                margin-bottom: 0;
                margin-right: $gutter;
                padding: 5px;
                width: 70px;
                @include xs-block() {
                    margin-right: $gutter/2;
                }
            }

            &__desc {
                flex: 1;
                @include xs-block() {
                    padding: 0;
                }
            }

            &__title {
                font-size: 15px;
                @include xs-block() {
                    margin-bottom: 10px;
                    margin-right: 23px;
                    text-align: left;
                }
            }

            &__articul {
                font-size: 15px;
                text-transform: initial;
                @include xs-block() {
                    display: none;
                }

                span {
                    text-transform: uppercase;
                }
            }

            &__price {
                font-family: $f2-bold;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0.5px;
                max-width: 180px;
                text-align: right;
                width: 100%;
                @include xs-block() {
                    flex: 1;
                    font-size: 16px;
                    margin-bottom: 10px;
                    order: 2;
                    text-align: left;
                }

                span {
                    font-family: $f-light;
                    font-size: 14px;
                    font-weight: 300;
                }

                small {
                    color: $color-danger;
                    font-size: 15px;
                    margin-left: 5px;
                }

                &--current {
                    text-align: left;
                    @include xs-block() {
                        flex: initial;
                        margin-right: $gutter;
                        order: 1;
                    }
                }
            }

            &__box {
                @include xs-block() {
                    flex-wrap: wrap;
                }
            }

            &__del {
                position: absolute;
                right: 0;
                top: 15px;
                @include xs-block() {
                    right: -7px;
                }
            }
        }

        .item-select {
            margin-left: -70px;
            margin-top: 0;
            max-width: 180px;
            position: relative;
            width: 100%;

            @include xs-block() {
                margin-left: 0;
                order: 3;
            }

            &--count {

                .item-select__subtitle {
                    width: 140px;
                }
            }

            &__title {
                text-align: center;
                width: 100%;

                &_wrap {

                    .item-select__title {
                        width: 100%;
                    }
                }
            }

            &__caption {
                display: none;
                top: -30px;
            }

            &__list {
                top: 97%;
            }
        }
    } //.product-item--wide
} //.product-item

.badge {
    align-items: center;
    color: #fff;
    display: inline-flex;
    font-family: $f;
    // border-radius: 50%;
    font-size: 14px;
    justify-content: center;
    line-height: 1.4;
    text-align: center;
    z-index: z(fixed) + 1;

    &__wrap {
        @include flexColumn;
    }

    &--sale {
        background-color: #ff5171;
        border-radius: 8px;
        bottom: 20px;
        padding: 2px 5px 3px;
        position: absolute;
        right: 18px;
    } //.badge--sale

    &--hit {
        background-color: $color-info;
    } //.badge--hit

    &--new {
        background-image: url('../img/general/new.svg');
        background-repeat: no-repeat;
        height: 100%;
        left: 15px;
        max-height: 70%;
        max-width: 32px;
        position: absolute;
        top: 5px;
        width: 100%;
        // padding: 2px 10px 3px;
        // font-family: $f-medium;
        // font-size: 18px;
        // letter-spacing: 1px;
        // text-transform: uppercase;
        // background-color: $color-bg--dark;
        // @include rotate(-90);

        // &::before {
        //     content: '';
        //     @include arr(10, 30, transparent, r);
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        // }
    } //.badge--new
} //.badge

.product-slider {
    bottom: 0;
    left: 0;
    min-height: 250px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 1px;
    top: 2px;
    visibility: hidden;
    z-index: z(fixed);

    &:hover {
        opacity: 1;
        visibility: visible;
    }

    @include respond-to(md) {
        min-height: 263px;
    }

    @include respond-to(sm) {
        min-height: 293px;
    }
    @include xs-block() {
        display: none;
        min-height: 237px;
    }

    &__list {
        align-items: stretch;
        background-size: cover;
        bottom: 0;
        display: flex;
        height: 223px;
        left: 10px;
        overflow: hidden;
        position: absolute;
        right: 9px;
        top: 9px;
        transition: opacity 0.3s;
        z-index: 2;

        @include respond-to(md) {
            height: 243px;
        }

        @include respond-to(sm) {
            min-height: 273px;
        }

        @include xs-block() {
            max-height: 217px;
            min-height: 217px;
        }
    } //.product-slider__list

    &__item {
        align-items: flex-end;
        display: flex;
        flex-basis: 50%;

        &::after {
            background-color: rgba(232, 232, 232, 0.8);
            content: '';
            display: block;
            height: 2px;
            margin: 0 3px 4px;
            transition: backgroud-color 0.3s;
            width: 100%;
        }

        &:first-child {

            &::after {
                margin-left: 6px;
            }
        }

        &:last-child {

            &::after {
                margin-right: 6px;
            }
        }

        &:hover {

            &::after {
                background-color: $color-accent;
            }

            .product-slider {

                &__image {
                    opacity: 1;
                }

                &__more {
                    display: flex;
                }
            }
        }

        &:not(:hover) {

            &:first-child {

                .product-slider__image {
                    opacity: 1;
                }
            }
        }
    } //.product-slider__item

    &__image {
        background-size: cover;
        height: 345px;
        opacity: 0;
        @include vcenter;
        width: 270px;
        z-index: -1;
    } //.product-slider__image

    &__more {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        color: #fff;
        display: none;
        font-family: $f-light;
        font-size: 15px;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        z-index: -1;
    } //.product-slider__more
} //.product-slider

.swiper-wrapper {

    .product-item--small {
        width: 100%;
    }
}
