.11 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.12 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.13 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.14 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.15 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.16 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.17 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.18 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.19 {
  width: 1em;
  height: 1em;
  fill: none;
}
.20 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.30deg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.40deg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.5 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.6 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.60deg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.7 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.8 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.90deg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.heart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.Instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ok {
  width: 1em;
  height: 1em;
  fill: initial;
}
